<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>❤ 2023</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>
 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>❤ 2023</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2023-12-28 23:11:30| 目录:随笔 </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## Working

目前在美团做着有挑战的事情，得益于良好的团队氛围，我的个人提升很大。这里多亏了Lilac、UU、CFC4N等人的帮助，我在漏洞挖掘上有了更丰富的技术栈和视野，能够发现就连我自己都会为之感叹的漏洞。

时刻保持着技术学习的热情，由于没有什么出众的天赋，学习起来很吃力，偶尔会犯很低级的错误。每次都惊叹于那些年纪小，技术实力强的师傅，心里会有很大的压力。好在工位就在lilac旁边，他总会不厌其烦的传授我很多知识。❤

我清晰的认识到，我没有很扎实的基础知识。后悔大学的充裕时间内没有好好学习，只顾玩乐。导致每天睡前都需要看书补课，直到现在我对很多领域都还是模糊的认知。好在我还比较年轻，还有充分的时间去学习。

感谢DepyDocs，真正意义上提升了我的知识学习兴趣，让我无时无刻都想记录学习的过程。买了好几本书，过年一定要全部看完并实战记录笔记。

## Bug Hunting

进入美团工作后，就失去了一个经常赚钱的平台。当然啦，自己也不能一直局限于一个熟练的模式，这样必然会饿死自己。所以我约定自己不可以再挖那些简单低级的越权漏洞，好几个月时间里（工作时间之外）基本不活跃在SRC赚越权的快钱，一直在学习新技术。一开始我是焦虑的，后面慢慢变得开朗起来。

最近两周，试着实战交作业了（工作时间外）。研究过程和实战过程是两个世界，会碰到很多突发偶然的状况。由于之前做java审计的基础还不错，思路比较灵活，做起java层的逆向会比较得心应手。除此之外，也可以学着lilac基于数据流做一些trace分析了，他真的很厉害，我嫉妒他的才华(*^_^*)。

做了很有意思的事情，我从腾讯SRC出发，选择任意SRC做漏洞挖掘，只挖高危严重**非越权**，挖到了就写一篇文章归档到本站。由于lilac帮助了我很多，我决定每个上报的通过审核的漏洞都要分赏金给他😀。

![](https://img.meituan.net/imgupload/5a83bfb686c2f30ef845c52d4ee35db923616.png)

前几天，和key师傅聊天。我们约定2024要在二进制领域有一些挖洞的成绩，希望2024一定要狠狠冲，而不是一句简单的口号。

## Develop

至今没有开源习惯。

今年做了一些小玩意，都是在平时也会经常使用的，比较满意的是这些：

DepyDocs - 一个基于SaaS（软件即服务）模式的文档管理系统。

DepyOauth - Oauth授权服务端。

DepySSH - 基于PAM开发的SSH授权模块，从而无需记住服务器密码，发送指令给公众号即可登录终端。

UUFaker - 一个安卓云控平台，支持多种指令下发控制各个安卓手机。

DepyWaf - 基于nginx开发的流量审计平台，接入简单。

Un1kAndroid - 安卓测试辅助工具，为我的移动安全测试提效省时。

**上述的web平台均已容器化部署，可以承接一些小型企业的授权认证，知识归档管理，流量审计功能。如果有老板想购买并私有化部署接入，那实在是太酷啦~**

## Change

去年毕业后，至今已换了三份工作。其实吧我不喜欢麻烦的事，希望一切都变得简单。每一次下定决心的改变，只是为了追求更好的平台和发展的方式。

试错成本也越来越高，base也从杭州换到了上海，稳定性也被每个遇到的人反复质疑与考验。好在现在生活工作稳定了些，但不敢像之前一样妄下定论了，有点不太敢相信别人会对我那么好。

所以我现在的为人处世之道就是：工作就是工作，生活就是生活。工作的时候认真即可，不要参杂任何私底下的感情，有意见的时候提出来，有做的不好的地方随时批评，不要因为私交甚好就给我开绿灯拉帮派。在生活的时候好好相处，真诚待人，一起开黑。

因为从某实x室出来之后，背调时被造谣乱黑了一顿，说了一些想毁了我一辈子的话，让我听到。好在一些同事陆陆续续也离职了，在他的观念里，离职就是有抑郁症，看来他真会招抑郁症。

换做之前，我从来没想过会被这么对待，还以为除了工作以外还会是很好的朋友，离职那天想好好说的，一直没给机会，也好，我也无所谓。后来似乎还写了篇文章把这些归类为爱吐槽的习惯，也就是我只是心直口快，你怎么还当真了呢？归结为东北人的性格直爽，嗯，那就只能祝你身体健康吧。

那时候的心理压力很大，担心被人误解。入职美团的时候，HR和我说了这个，我总想说些什么，又怕被认为做贼心虚，太煎熬了。你放心吧，至今我也没有在公开的场合说些什么，除了发给HR关键的证据截图证明我并不是你口中的那种人，其他的什么也没做。总有朋友带着一些高级黑的截图问我，是不是我干的，但我真没有那么无聊，我想他肯定会觉得是我做的吧哈哈哈，那些只是你仇家太多了，太多人讨厌你。

本文作为终点，以后的我也不会再提，敬而远之。再有对号入座的时候，请不要带上我。我只想好好工作，好好生活。那么为什么这里要提一嘴呢，是我真的忍了好久啦，不然真把那些聊天记录、录音记录发出来，和我的还是和谁的，你承受的住吗？

当然啦，也随便他怎么对他人评价我，我不需要狭隘的认同。

## END

其实不是很想写，因为每次写了也会删掉，被朋友转发给我的时候也会羞愧面红。

但是还是想一吐为快，说一些今年做了什么，有什么开心的事情，受了什么委屈。我不想建立什么人设，我不想当安全教练，当研究员，我只是说给自己听。

我还有很多很多的不足，还会做错很多很多的事。每每想起之前做了很幼稚过分的错事，导致和一些朋友闹掰，都会忍不住叹息，想坐下来和他们好好谈，但是应该不会再有这样的机会了。

总的来说，目前是开心乐观的，我的抗压能力直线上升，性格也变得越来越不敏感，越来越独立。感谢一年里对我有帮助的所有人，明年我也会牢牢把握住你们。😘
</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>