<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>😡 关于DDOS我能做什么</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/139.html">猿人学APP第二题  - 算法分析</a></li>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>
 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/138.html">某安全工具逆向破解</a></li>
<li><a href="/view/137.html">浙江省第四届网络与信息安全竞赛决赛WP</a></li>
<li><a href="/view/136.html">流量加密编程开发</a></li>
<li><a href="/view/135.html">Attack PHP Website By Shiro</a></li>
<li><a href="/view/134.html">某OA授权破解分析</a></li>
<li><a href="/view/133.html">Un1kHacking</a></li>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>😡 关于DDOS我能做什么</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2024-02-04 18:56:16| 目录:测试笔记 </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## 前言

前几天腾讯云一直告警，说是有异常udpflood流量，高达五十多G。一开始我以为只是针对The loner团队网站的，就没怎么管，毕竟团队出名了就容易惹祸，我也管不了。

但是过了一会公众号推告警了，说是GIT数据同步没同步上去。我顿时感到不妙，突然发现无法进入SSO了。虽然DepyDocs做了分布式部署，但是被打的是主服务器，后面有再多节点也没用。于是只能想想办法。

![](https://img.meituan.net/imgupload/da18370ca6b26d78d451ef6355e8b74340696.png)

## 自助解除

![](https://img.meituan.net/imgupload/153f70c1026de4a361e6c9b0176798a16575.png)

问了客服，只有购买好几万的高防服务器才有自助解封次数。这里找了个腾讯云的bug，弄了十次，没有花钱。解除了之后，我看攻击类型是udpflood就对udp协议做了全端口禁止。

但是过了几分钟，流量异常的消息又推送过来了。服务器又被隔离了，找客服投诉，客服说这是因为流量先进入的运营商，再到腾讯云，再到我自己这。那我这边做什么策略都没用。只能买高防。

一时不知道该干什么。

## 使用CDN

既然解析到IP后的路径我无法控制，那我用cdn再转发到源站应该就行了吧？

用了一下几家的服务，腾讯云自己的边缘网络加速啥的，还有cloudflare自带的，效果都不咋样。还把我不多的解封次数用完了，弄得人非常疲惫。

腾讯云的边缘加速36元一年，解析速度非常慢。我一个域名解析了过了半小时才生效，弄得人很生气，直接退款了。cloudflare太卡了，太影响体验了，其他的或多或少cdn也会有流量限制，一下子就超阈值了。

## 静态化

那天实在累了，绝对玩不过老鼠人。还是掏出了压箱底的解决方案，全站静态化，第三方托管。关于这个想法，在我开发depydocs初期就想过。因为有些客户只想做文档站，写完托管到对象存储就行，也不太需要审批、评论这类交互的功能。所以当时就写过脚本来对站点数据静态化，一直没有派上用场。

后续的模式就是，让家里的NAS成为发布后台，我连接上openvpn服务端，进行文档攥写。好处就是站点也不需要走sso了，内网的话直接访问就行，我的depysso可以休息一段时间了。

内网文章发布、更新后，Un1kAgent自动静态化同步到私有文档仓库，然后主动触发Github Action来同步私有仓库的数据到github page，完成自动化托管全链路。

![](https://img.meituan.net/imgupload/f52cb221a8d1f0e8c9a8f5a5d089730b171291.png)

![](https://img.meituan.net/imgupload/d593614bc8a4ed1e71cc3cd2609f091837015.png)

Github Action可以设置密钥，也不会泄露私有仓库的地址、账号和密码。为什么我不主动push呢？因为国内访问特么的github实在是太卡了，我还得专门为了加速配置别的，但是我的私有仓库地址是很流畅的，这样就省了很多事情。后续使用任何接口服务都内匿名一下，防止被老鼠人找到。


## 吐槽

关于ddos的流量来源，除了老鼠人。还疑似是腾讯云自导自演。因为某个操作是购买一台新的轻量云，通过镜像重装，这个时候我还没有完成域名解析的步骤，过了会又说udpflood了。

除此之外还存在很多问题。回复不及时，搪塞等等.. 马总年会上骂你们骂的还不够狠吗？

还有就是删除用户解析，让我看操作日志，结果ip是美国国防部的。

![](https://img.meituan.net/imgupload/ee906bc9bc5508faf2ae6ad3390fd4c538402.png)

![](https://img.meituan.net/imgupload/663d2729144b40600059fe895275348c32465.png)


还有ddos的老鼠人，祝你全家身体~~健康~~。（XD）</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>