<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>Un1kHacking</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>逆向分析</p>
    <ul>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>
 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/134.html">某OA授权破解分析</a></li>
<li><a href="/view/133.html">Un1kHacking</a></li>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>Un1kHacking</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2024-02-05 23:01:06| 目录:博客文章（备份） </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## 前言

一款为了快速接入云函数代理测试的插件。本文也可给burpsuite开发初学者提供从0到1的开发步骤。

## 设计思路

由于目前存在的一些云函数代理工具仅仅是做了流量转发,也就是访问网站的时候一股脑儿的把流量全部通过你的vps再转发到你的云函数接口去，以达到通过使用云函数的cdn代理池从而防止被攻击溯源。这样的操作是可行的，但是实际运用是存在许多缺点的。

首先在链路上，流量-&gt;vps-&gt;云函数，需要通过两层中转，第二是云函数或者是vps的性能、带宽不足，导致访问百度这种速度较快的网站都会加载全部资源导致卡死。所以我们可以简化一下，抽取其中的部分功能给repeater用即可。

## 编写代码

1.阅读官方SDK与文档

2.了解需求

需要在repeater模块，发送http请求的时候，使用插件发送流量给云函数接口处理，最后返回信息到response即可。而判断在哪个模块，burpsuite api给了通用方法，并且模块可以根据toolflag来判定使用。所以我们需要用到一个监听http请求的模块。

也就是IHttpListener，使用该接口前，需要先通过 IBurpExtenderCallbacks.registerHttpListener() 注册一个 HTTP 监听器，这样所有的HTTP请求和响应都会通知这个监听器，就可以在这个监听器对HTTP数据包进行分析或修改了。

代码如下:

![](https://img.meituan.net/imgupload/09142d683795358326fdeeafc6da4c08164656.png)

需要注意的是，在最前面需要接口继承IHttpListener：

![](https://img.meituan.net/imgupload/b25e2fa843a95b4d381449fe66efdbfd12595.png)

该接口只提供了一个方法,processHttpMessage。这个方法拥有三个属性：

![](https://img.meituan.net/imgupload/886ec66a4a6db0cdd50149e2d16a142523865.png)

通过toolflag属性,判断是否为repeater模块 在repeater才生效,代码就可以写

```
 if(toolFlag == 0x00000040) {
   // To do here
}
```

这样第一个要求就轻松解决了,接着就是后面的操作,转发流量到云函数服务接口,并且取消原始请求。这里是开发的最大坑点,这个方法自带一个接口IHttpRequestResponse。我们需要使用这个接口去改变请求和设置响应,他的方法如下:

![](https://img.meituan.net/imgupload/08d3173a72366d0302f7602a528ea7051030645.png)

所以我们一开始需要使用setRequest方法去修改请求,代码如下

![](https://img.meituan.net/imgupload/1d75955c3a30e7d755f20b453363f89177920.png)

虽然请求是被修改了,测试blog.happysec.cn域名下,不管repeater模块的request是什么代码,请求包都是bytes中的请求包，效果是会发送一个get请求/scf.php?body=，从而无视你的包体。

但是测试其他域名就出现问题了,由于setrequest只是修改了request中的报文,但是该请求包的service中的host、port、Protocol，还是原来的a.com,http,8081。当serive中的host与请求包中的host不一致的时候，会发生无法访问的情况。所以我把注意力放在了，setHttpService这个方法上面。如果我们用这个方法,把host、port、protocol改成我们的云函数相关信息，那么就可以解决我们这个问题。但由于HttpService是一个接口，不是对象，需要通过做一个接口实现：

```
class WSHttpService implements IHttpService
```

让WSHttpService类实现接口IHttpService中所有的方法,之后定义三个属性,并重载getHost,getPort,getProtocol方法。

      private String host;
        private int port;
        private String protocol;

        WSHttpService() {
            host = &#34;blog.happysec.cn&#34;;
            protocol = &#34;https&#34;;
            port = 443;
        }

        @Override
        public String getHost() {
            return host;
        }

        @Override
        public int getPort() {
            return port;
        }

        @Override
        public String getProtocol() {
            return protocol;
        }

在类实例化构造函数中,将三个参数默认定义为云函数的接口地址、端口、协议。之后我们实例化一个类WSHttpService，并用setService方法重新设置messageInfo的service信息。

代码如下:

            WSHttpService iHttpService = new WSHttpService();
            messageInfo.setHttpService(iHttpService);
            IHttpService iHttpService2 = messageInfo.getHttpService();
            this.stdout.println(iHttpService.getHost());
            this.stdout.println(iHttpService.getPort());
            this.stdout.println(iHttpService.getProtocol());
			
重新打包插件后我们访问网站测试

![](https://img.meituan.net/imgupload/57fbe29c0a713e0022f07d0f348b0e35201624.png)

发现无论请求包设置的host为啥，都走的是WSHttpService类下的host、port、Protocol。

解决了这个问题，其他的也就是写云函数接口、打包原始请求headers、发送请求包至云函数接口的简单代码即可了。

3.打包原始请求代码编写

我们需要把原始http请求报文打包发送给云函数接口,通过
```
String body =(helpers.bytesToString(messageInfo.getRequest())); //获取请求数据
```
这行代码我们可以获取字符串类型的原始请求数据,也就是

![](https://img.meituan.net/imgupload/4bdded238603a17f8f306413304c831439714.png)

这个框里的内容

为了防止编码错误,我们使用base64对string做编码

                try {
                    base64encodedString = Base64.getEncoder().encodeToString(body.getBytes(&#34;utf-8&#34;));
                } catch (UnsupportedEncodingException e) {
                    e.printStackTrace();
                }
				
接着我们只需要 重新修改原始请求即可

![](https://img.meituan.net/imgupload/e12cd2b7fb52a8b902b5e56bb78dc86254197.png)

所以这样能够理解了，前面修改service的目的只是为了防止host不一致导致请求无法传递而已。

然后我们修改body后的参数为我们需要传递的base64代码即可

4.云函数代码编写

此时burp插件已经编写完毕了。

接下来就是云函数对请求包的处理。处理原始请求包提取里面的body、host、uri、method、content-type等重要参数，使用云函数重新请求即可。

这里需要注意的是,由于请求和响应都会被这个监听器捕获,所以我们需要设置条件

![](https://img.meituan.net/imgupload/db13c8f0f8561c8041cce85420077bed10421.png)

默认对获取响应不做处理即可。

我通过

    String body = (helpers.bytesToString(messageInfo.getRequest())); //获取请求数据包
再将body进行base64编码，这样就可以发包给云函数接口原请求的http报文。做接口的话选择很多，我这里选择php代码来写。

首先，对原请求重新发包，拿的是http报文。就需要使用socket来write，再重新发包。

这里的坑点也很多，一开始我用的是fsockopen这个函数，但是后面遇到证书错误的问题，于是改用stream_socket_client，并在上下文stream_context_create创建了一个ssl，把verify_peer_name和verify_peer都设置成false，这样就可以忽略证书文件校验了。但是发现上传文件的时候会上传错误，某些接口网站访问空白，并且不是云函数的问题，是代码的问题。

在write的时候发生了什么不可预见错误，我通过反复diff请求包也没有找到问题，接口收到的请求包和原始请求包怎么看都是一个请求包,于是我放弃了这个思路,只能做报文解析了。然后用curl去发包，analyzeRequest给了几个好用的方法，geturl和getHeaders，这样我们可以快速获取url和头部信息，但是需要注意这里的headers的第一个元素是类似**POST /api HTTP/1.1**的一行，method也可以用getmethod获取,uri在url里,所以我们可以把headers这个list的第一个元素remove,然后都编码base64发给接口。

至此，headers、url、method的问题都可以解决,接下来就是解决body中的文件内容或者请求参数的获取了。对于analyzeRequest，burpsuite api没有给出拿到body内容的接口。但是给了获取body的偏移量getbodyoffset。所以我们可以用以下代码获得请求body：

```
String sendData = body.substring(reqInfo.getBodyOffset());
```

也就是把请求包从偏移量开始的地方截取全部，就是body的内容了。后面拿到值然后用curl_setopt即可，就不多写了,效果如下（解决了蛋疼的编码问题）

![](https://img.meituan.net/imgupload/6bb75f136a1b66668cef7debdc48fb0a241970.png)

![](https://img.meituan.net/imgupload/70af487760c506f002c328ac42e49e41215767.png)

实际使用还是存在很多需要提升的地方,比如云函数接口是硬编码的,不是动态可变的。导入配置我倒是思考过,但是发现需要绘制ui和使用另外的加载器,比较麻烦,还不如在burpsuite的文件夹下做一个ini的默认载入,不存在就提示用什么命令加载。

mac效果如下：


![](https://img.meituan.net/imgupload/d0049def9bce0f4ce5d362b9d35c7046170536.png)
![](https://img.meituan.net/imgupload/84741625f697f03a85b51c4fbd0ce49a673829.png)

之后写一个菜单 做监听 假设我修改了配置文件中的接口 那么点击就会重载

![](https://img.meituan.net/imgupload/1e5e2c60bd0681572d51c610a1bb5327512587.png)

![](https://img.meituan.net/imgupload/68514ac3537e0d3ccea810149434031d174769.png)

对接口代码作修改 在响应内容中加入使用的api host 便于区分

![](https://img.meituan.net/imgupload/d52e08d492154acb03bce642e33eb837475595.png)

![](https://img.meituan.net/imgupload/9f8b764c089c14ec6e725fa17f77669b231627.png)

基本上这样就可以投入使用啦～</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>