<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>某OA授权破解分析</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>
 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/136.html">流量加密编程开发</a></li>
<li><a href="/view/135.html">Attack PHP Website By Shiro</a></li>
<li><a href="/view/134.html">某OA授权破解分析</a></li>
<li><a href="/view/133.html">Un1kHacking</a></li>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>某OA授权破解分析</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2024-02-05 23:09:29| 目录:博客文章（备份） </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## 基础分析

通过断点、全局搜索等一些方式我们可以找到与授权有关的jar包是LNParse.jar，验证授权有关的逻辑都在里面，于是我们可以用jd-gui来反编译jar包分析。

## 代码分析

只能够一步步慢慢看了。首先，我们可以找到主要的类lnparse

![](https://img.meituan.net/imgupload/ed7f7786856d9e2fc547cb9f07ccb27312979.png)

我们可以看到他使用了 Zip.getZipSomeByte方法

![](https://img.meituan.net/imgupload/40bdcecdecfdf097959d4cff89f30cfc7717.png)

后面找到zip类，定位到这个方法

![](https://img.meituan.net/imgupload/881888bb34e3fd5f9a07ed272b53d18923365.png)

他的作用实际上就是通过getEntries 得到解压zip文件得到一个对象。

然后判断对象中存在的元素，也就是类似于文件列表，当zipArchiveEntry的名字匹配到方法输入的keyPath，则以字节数组形式返回文件输入流。

所以上面的代码就是检测压缩包的文件（license、publickey、lek、license2），并以二进制数组保存在变量中。


![](https://img.meituan.net/imgupload/9263dd802ec1c3fa24d341c45c5ba9a228841.png)


这里做了if判断，很显然是对*微版本做了判断。每一个版本的realpublickey都不一样，通过授权时候赋予的版本来赋值。

![](https://img.meituan.net/imgupload/b885c76a7d0f76292a6f3cc92f6a89735349.png)

这里对publicKey做了base64编码，并和realPublicKey做比较。如果不一致将会抛出异常，显示授权失败。

所以我们需要新建一个文件，然后将realpublickey的base解码保存在文件中，命名为publicKey。

![](https://img.meituan.net/imgupload/90a1b87c5568ed31f39509b98551c1ff7797.png)

之后进入了一个尝试，并在之前定义了一个jsonobject。licenseEncryptKey文件中提取的内容，使用publickey做rsa解密。保存在licenseKey变量中，之后在使用licenseKey对licenseFile做des解密，把json数据存储到jsonlicense中。

我们可以分析得到，licenseKey在这里就是一个密钥的作用。也就是说licenseEncryptKey文件保存的是一个用realPublicKey对应私钥加密的key。

至此我们可以整理得到以下信息：

1.licenseEncryptKey放的是jar文件中公钥对应的私钥，再加密一串字符串的后的数据。

2.publicKey放的是realpublickey的base64解码的内容文件。


![](https://img.meituan.net/imgupload/d18feb52c6e3020ac189d8c2bfaadc327356.png)


如果解密失败抛出异常，就用key作为密钥去解密license2文件中的内容，此时直接得到了json数据。

![](https://img.meituan.net/imgupload/906431a31fa1023d19c98c3395bf2a9412098.png)

之后建立了一个lnb对象，通过json数据取值拿到内容赋值。

之后进入checkLicesne方法，带入lnb对象，通过对象方法取值

![](https://img.meituan.net/imgupload/56f4d4b18aad078959fdd452fb24f36212068.png)

用一个md5对象 对companyname，licensecode等参数进行md5加密，再与lnb对象中的license对象进行比较，且必须相等。

## 分析

1.licenseEncryptKey放的是jar文件中公钥对应的私钥加密一串字符串的后的数据，相当于的des解密密钥的加密内容。

2.publicKey放的是realpublickey的base64解码的内容文件。

3.license文件中存放着json数据，但是数据经过了des加密

4.license2只有捕获了异常才必要，可以不需要

5.json格式中需要的键:companyname【公司名】、hrmnum【系统最大使用人数】、concurrentflag、licensecode【机器码】、expiredate【使用有效期】、license【MD5，来源于上图中的src加密方式】、cid、scType、scCount。

我们可以清楚的知道，由于我们没有默认jar文件中公钥对应的私钥，所以在rsa解密的时候会失败，因为不匹配。

## 破解思路

1.修改jar包的公钥为自己的公钥（本地存储对应私钥），重新打包

2.设置公司名、机器码、使用人数、有效期等键（key），再根据这些值生成md5（value）写入license键中，保存成一个json字符串

3.设置des密钥为depy，对json数据进行加密

4.加密数据存入license文件中

5.使用覆盖后的公钥对应的私钥对depy进行加密，存储在licenseEncryptKey文件中

6.将修改后的公钥存储在publicKey文件中

7.由于会存在文件解压

![](https://img.meituan.net/imgupload/2a94aa7922d818c2196554bfcd5cfb4f20644.png)

虽然做了异常捕获，但是尽量写一个空白的license2，由于在第一步的try就返回完毕了json数据，它不会对我们授权产生影响。

8.覆盖ljstln.jar文件，重启xx系统，将四个文件压缩成zip文件，再改成名字为.license结尾的文件即可（授权界面的文件上传类型限制）

## 效果如下

![](https://img.meituan.net/imgupload/58d0083b87b398ddec039daf9392342947048.png)

![](https://img.meituan.net/imgupload/51ae4c1833d05daee30e4d76322e7876453303.png)

![](https://img.meituan.net/imgupload/bb1c8737ab9aef82a9f8747ef9382309387784.png)



*注意:本文仅作安全有关的代码分析尝试，请支持正版，抵制非法破解。本人不会提供任何非法授权服务，请知悉。*</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>