<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>流量加密编程开发</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/140.html">P***OK全版本前台无条件RCE</a></li>
<li><a href="/view/138.html">某安全工具逆向破解</a></li>
<li><a href="/view/137.html">浙江省第四届网络与信息安全竞赛决赛WP</a></li>
<li><a href="/view/136.html">流量加密编程开发</a></li>
<li><a href="/view/135.html">Attack PHP Website By Shiro</a></li>
<li><a href="/view/134.html">某OA授权破解分析</a></li>
<li><a href="/view/133.html">Un1kHacking</a></li>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/139.html">猿人学APP第二题  - 算法分析</a></li>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>流量加密编程开发</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2024-02-06 01:26:04| 目录:博客文章（备份） </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=136" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## 前言

现在国网、移动的小程序、app基本都对流量请求进行了加密。这很大程序上让渗透测试和漏洞挖掘的工作变得异常困难。根据一些挖洞经历，基本上都是通过前端的公钥进行数据加密，为了更好的去挖掘漏洞，花费几小时时间，让Un1kPoc客户端实现了RSA的流量加密传输。

## 前期准备

简单的来梳理一下我们的业务流程：

1.前端获取公钥（publickey）

2.对请求json数据用公钥加密

3.传递给后端

4.私钥解密

5.常规的后期业务逻辑

所以我们需要做的首先是准备一个配套的公私钥。

```
openssl genrsa -out pri.pem 1024  //生成私钥
openssl rsa -in pri.pem -pubout -out pub.pem //根据私钥生成公钥
```
 js有个库，叫jsencrypt.min.js，大致参考了一下教程，最简单的写法如下

```
var rsa = new RSAKey(); //建立一个rsa对象
rsa.setPublic(modulus, exponent);
var modulus = &#34;***&#34;; //生成私钥的模量 命令为 openssl rsa -in pri.pem -noout -modulu
var exponent = &#34;10001&#34;; //设置e 
var res = rsa.encrypt(&#34;加密内容&#34;); 
console.log(res)
```

这里是坑点之一，本来产生加密内容非常的正常顺利。加密内容为123，123456a，测试一下，这些都没问题。直到我部署到了生产的接口时，出现了问题。

![](https://img.meituan.net/imgupload/a460825ca472b57c54d92e4c2ca4c66620565.png)

参考了一下STACKOVERFLOW，才知道rsa加密不了长数据。而我的请求包的body是很长的，它会根据漏洞poc改变长度，我也无法确定。

解决方法：

```
JSEncrypt.prototype.encryptLong2 = function(string) {
	var k = this.getKey();
	try {
		var lt = &#34;&#34;;
		var ct = &#34;&#34;;
		//RSA每次加密117bytes，需要辅助方法判断字符串截取位置    
		//1.获取字符串截取点    
		var bytes = new Array();
		bytes.push(0);
		var byteNo = 0;
		var len, c;
		len = string.length;
		var temp = 0;
		for (var i = 0; i &lt; len; i&#43;&#43;) {
			c = string.charCodeAt(i);
			if (c &gt;= 0x010000 && c &lt;= 0x10FFFF) {
				byteNo &#43;= 4;
			} else if (c &gt;= 0x000800 && c &lt;= 0x00FFFF) {
				byteNo &#43;= 3;
			} else if (c &gt;= 0x000080 && c &lt;= 0x0007FF) {
				byteNo &#43;= 2;
			} else {
				byteNo &#43;= 1;
			}
			if ((byteNo % 117) &gt;= 114 || (byteNo % 117) == 0) {
				if (byteNo - temp &gt;= 114) {
					bytes.push(i);
					temp = byteNo;
				}
			}
		}
		//2.截取字符串并分段加密    
		if (bytes.length &gt; 1) {
			for (var i = 0; i &lt; bytes.length - 1; i&#43;&#43;) {
				var str;
				if (i == 0) {
					str = string.substring(0, bytes[i &#43; 1] &#43; 1);
				} else {
					str = string.substring(bytes[i] &#43; 1, bytes[i &#43; 1] &#43; 1);
				}
				var t1 = k.encrypt(str);
				ct &#43;= t1;
			};
			if (bytes[bytes.length - 1] != string.length - 1) {
				var lastStr = string.substring(bytes[bytes.length - 1] &#43; 1);
				ct &#43;= k.encrypt(lastStr);
			}
			return hexToBytes(ct);
		}
		var t = k.encrypt(string);
		var y = hexToBytes(t);
		return y;
	} catch(ex) {
		return false;
	}
};
```

方法大致意思就是，加密的字符超过了一定长度，就以117为单位进行分段加密。

之前后端的解密代码，我用的是php，因为很简单，他解密的字段类型是十六进制字符串

```
$encrypt_data = pack(&#34;H*&#34;, $hex_encrypt_data);
```

我们可控的是hex_encrypt_data，但是我们的字节数组是无法传入的。于是只能前端写的方法，把字节数组转换成十六进制的字符串。

```
function hexToBytes(hex) {
	for (var bytes = [], c = 0; c &lt; hex.length; c &#43;= 2) bytes.push(parseInt(hex.substr(c, 2), 16));
	return bytes;
}
function bytesToHex(bytes) {
	for (var hex = [], i = 0; i &lt; bytes.length; i&#43;&#43;) {
		hex.push((bytes[i] &gt;&gt;&gt; 4).toString(16));
		hex.push((bytes[i] & 0xF).toString(16));
	}
	return hex.join(&#34;&#34;);
}
```
我们对提交的poc进行rsa加密，把内容打印出来，通过上面两个方法，成功产生了长字符串产生的rsa加密后的字符串。于是前端的任务已经完成了，我们把注释删掉，直接进行解密。

```
 openssl_private_decrypt($encrypt_data, $decrypt_data, $private_key);
```

这样$decrypt_data中就保存了我们的解密内容，但是测试发现结果是空的，又懵逼了。看了点资料，发现rsa对解密也有长度限制。

![](https://img.meituan.net/imgupload/1c985790088a02e5f6eb6e48198e396514437.png)

那我就知道怎么写了，对chunks变量做128切割。然后分段解密。

```
foreach ($chunks as $chunk) {
    openssl_private_decrypt($chunk, $decrypt_data, $private_key);   
    // echo &#34;$decrypt_data&#34;;
    $data .= $decrypt_data;
}
echo $data;
```
重新测试成功

## 效果
![](https://img.meituan.net/imgupload/371254a1bb392c4f17791d25d679e8d5200418.png)</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>