<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>猿人学APP第二题  - 算法分析</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/138.html">某安全工具逆向破解</a></li>
<li><a href="/view/137.html">浙江省第四届网络与信息安全竞赛决赛WP</a></li>
<li><a href="/view/136.html">流量加密编程开发</a></li>
<li><a href="/view/135.html">Attack PHP Website By Shiro</a></li>
<li><a href="/view/134.html">某OA授权破解分析</a></li>
<li><a href="/view/133.html">Un1kHacking</a></li>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/139.html">猿人学APP第二题  - 算法分析</a></li>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>猿人学APP第二题  - 算法分析</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2024-02-06 22:13:44| 目录:逆向分析 </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## 背景

样本sign值的产生算法。

## 静态分析

找到静态绑定的函数

`Java_com_yuanrenxue_match2022_fragment_challenge_ChallengeTwoFragment_sign`

![](https://img.meituan.net/imgupload/e643706141f0a53952316c6c0cf561cd146939.png)

入参进入sub_AE0(v4, &v7);

```
padLength = strlen(a1);                       // 获取入参长度
  v5 = (int8x16_t *)malloc((int)padLength &#43; 16);// 开辟长度&#43;16的空间
  v6 = v5;
  if ( padLength )                              // 存在v4
    memcpy(v5, a1, padLength);                  // 把入参拷贝至v5
  if ( (padLength & 0xF) != 16 )                // 对16取余，是否有值，有值就开始填充
  {
    memset((char *)v6 &#43; padLength, 16 - (padLength & 0xF), 16 - (padLength & 0xF));// PKCS7 填充
    padLength = padLength - (padLength & 0xF) &#43; 16;// 填充后长度
  }
```
函数以16为单位进行分组，然后根据余数进行填充，填充方式 PKCS#7。

填充完毕进入一个循环逻辑，用到了aes的sbox。

```
  if ( padLength )
  {
    count1 = 0LL;
    v8 = 0;
    message = (char *)v6;
    do
    {
      for ( i = 0LL; i != 16; &#43;&#43;i )
      {
        v8 = *((_BYTE *)&v27 &#43; i) ^ byte_E73[(unsigned __int8)(message[i] ^ v8)];
        *((_BYTE *)&v27 &#43; i) = v8;
      }
      v11 = count1&#43;&#43; == (unsigned __int64)(padLength - 1) &gt;&gt; 4;
      message &#43;= 16;
    }
    while ( !v11 );                             // 分组大循环
    v12 = v27;
    v13 = v28;
    v14 = BYTE1(v28);
    v15 = BYTE2(v28);
    v16 = BYTE3(v28);
  }
```
总结方法：
1、v8进行循环变化，不断影响v27中的值
2、v27的值最终只和最后一个分组的值&#43;当时的v8有关

根据伪代码写出python代码：

```python
from Crypto.Util.Padding import pad
from Crypto.Cipher import AES
import binascii


def apply_pkcs7_padding(input_string, block_size=16):
    # Ensure the input is in bytes
    if isinstance(input_string, str):
        input_string = input_string.encode(&#39;utf-8&#39;)

    # Apply PKCS#7 padding
    padded_data = pad(input_string, block_size, style=&#39;pkcs7&#39;)

    return padded_data


# Example usage
input_string = &#34;1:17070096491:17070096491:1707009649&#34;
block_size = 16  # Block size for AES (128 bits)
padded_string = apply_pkcs7_padding(input_string, block_size)

# Convert to a hex representation for display purposes
padded_hex = binascii.hexlify(padded_string)

byte_E73 = [
    0x63, 0x7C, 0x77, 0x7B, 0xF2, 0x6B, 0x6F, 0xC5, 0x30, 0x01, 0x67, 0x2B, 0xFE, 0xD7, 0xAB, 0x76,
    0xCA, 0x82, 0xC9, 0x7D, 0xFA, 0x59, 0x47, 0xF0, 0xAD, 0xD4, 0xA2, 0xAF, 0x9C, 0xA4, 0x72, 0xC0,
    0xB7, 0xFD, 0x93, 0x26, 0x36, 0x3F, 0xF7, 0xCC, 0x34, 0xA5, 0xE5, 0xF1, 0x71, 0xD8, 0x31, 0x15,
    0x04, 0xC7, 0x23, 0xC3, 0x18, 0x96, 0x05, 0x9A, 0x07, 0x12, 0x80, 0xE2, 0xEB, 0x27, 0xB2, 0x75,
    0x09, 0x83, 0x2C, 0x1A, 0x1B, 0x6E, 0x5A, 0xA0, 0x52, 0x3B, 0xD6, 0xB3, 0x29, 0xE3, 0x2F, 0x84,
    0x53, 0xD1, 0x00, 0xED, 0x20, 0xFC, 0xB1, 0x5B, 0x6A, 0xCB, 0xBE, 0x39, 0x4A, 0x4C, 0x58, 0xCF,
    0xD0, 0xEF, 0xAA, 0xFB, 0x43, 0x4D, 0x33, 0x85, 0x45, 0xF9, 0x02, 0x7F, 0x50, 0x3C, 0x9F, 0xA8,
    0x51, 0xA3, 0x40, 0x8F, 0x92, 0x9D, 0x38, 0xF5, 0xBC, 0xB6, 0xDA, 0x21, 0x10, 0xFF, 0xF3, 0xD2,
    0xCD, 0x0C, 0x13, 0xEC, 0x5F, 0x97, 0x44, 0x17, 0xC4, 0xA7, 0x7E, 0x3D, 0x64, 0x5D, 0x19, 0x73,
    0x60, 0x81, 0x4F, 0xDC, 0x22, 0x2A, 0x90, 0x88, 0x46, 0xEE, 0xB8, 0x14, 0xDE, 0x5E, 0x0B, 0xDB,
    0xE0, 0x32, 0x3A, 0x0A, 0x49, 0x06, 0x24, 0x5C, 0xC2, 0xD3, 0xAC, 0x62, 0x91, 0x95, 0xE4, 0x79,
    0xE7, 0xC8, 0x37, 0x6D, 0x8D, 0xD5, 0x4E, 0xA9, 0x6C, 0x56, 0xF4, 0xEA, 0x65, 0x7A, 0xAE, 0x08,
    0xBA, 0x78, 0x25, 0x2E, 0x1C, 0xA6, 0xB4, 0xC6, 0xE8, 0xDD, 0x74, 0x1F, 0x4B, 0xBD, 0x8B, 0x8A,
    0x70, 0x3E, 0xB5, 0x66, 0x48, 0x03, 0xF6, 0x0E, 0x61, 0x35, 0x57, 0xB9, 0x86, 0xC1, 0x1D, 0x9E,
    0xE1, 0xF8, 0x98, 0x11, 0x69, 0xD9, 0x8E, 0x94, 0x9B, 0x1E, 0x87, 0xE9, 0xCE, 0x55, 0x28, 0xDF,
    0x8C, 0xA1, 0x89, 0x0D, 0xBF, 0xE6, 0x42, 0x68, 0x41, 0x99, 0x2D, 0x0F, 0xB0, 0x54, 0xBB, 0x16
]

paddingLength = len(padded_string);
count1 = 0
v8 = 0
v27 = [0] * 16
message_index = 0
while True:
    for i in range(16):
        v8 = v27[i] ^ byte_E73[padded_string[message_index&#43;i] ^ v8]
        v27[i] = v8
    message_index &#43;= 16
    v11 = count1 == (paddingLength - 1) &gt;&gt; 4
    print(v11)
    count1 &#43;= 1
    if v11:
        break
hex_string = &#39;&#39;.join(format(byte, &#39;02X&#39;) for byte in v27)
```
入参：1:17070096491:17070096491:1707009649
结果：C6E5B898303AD28762F97DAB99E2389C

## 如何验证

用unidbg进行断点调试，模拟执行。

![](https://img.meituan.net/imgupload/c23dab6e1f8fdc75a671549895f37c66111228.png)

v27在这个位置赋值给v12，看一下指令：

![](https://img.meituan.net/imgupload/14c3b417e7a1717e26e631a248d8c36f77331.png)

0xbbc这个位置做了ldr操作，赋值给d0寄存器。

unidbg添加代码：

```
        emulator.attach().addBreakPoint(module.base&#43;0xbbc);
        emulator.traceCode(module.base,module.base&#43;module.size);
```
在这个偏移位置进行断点，并打印tracecode。

![](https://img.meituan.net/imgupload/59cb092ac89f8a6b38dfac7b1ede081e50015.png)

在这个位置取值ldr，m0xbffff668查看他的值。

![](https://img.meituan.net/imgupload/1dd80ddabd16e01c827e0db755c2350633640.png)

发现hex一致。说明上面的算法没问题。</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>