<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>📑 租户自定义域名绑定</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>📑 租户自定义域名绑定</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2023-10-06 21:31:43| 目录:DepyDocs </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## 介绍
DepyDocs提供域名绑定的功能，供用户定制化使用服务，本人提供提供以下两种绑定方式。
### 基于Nginx反向代理（需要服务器）
域名解析服务器后使用nginx反向代理，配置文件如下，注意修改租户id。
```bash
#PROXY-START/

location ^~ /
{
    proxy_pass https://rce.ink/index/tenant/租户id/;
    proxy_set_header Host rce.ink;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header REMOTE-HOST $remote_addr;
    
    add_header X-Cache $upstream_cache_status;
    
    #Set Nginx Cache
    
    
    set $static_fileB0Aqg0HO 0;
    if ( $uri ~* &#34;\.(gif|png|jpg|css|js|woff|woff2)$&#34; )
    {
    	set $static_fileB0Aqg0HO 1;
    	expires 12h;
        }
    if ( $static_fileB0Aqg0HO = 0 )
    {
    add_header Cache-Control no-cache;
    }
}

#PROXY-END/
```

### 基于CloudFlare Workers（无需服务器）
修改DNS服务器为cloudflare提供的DNS服务器。
![](https://p1.meituan.net/xianfu/a3c71cb47835f44ad4b2c50428b4c9709238.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)
解析成功后，访问
![](https://p0.meituan.net/xianfu/4846ff3283221d83d5de95d26b1b083198878.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)
![](https://p0.meituan.net/xianfu/132aefef4294339b54cdc522b82f97d195614.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

点击部署后，重新进入编辑界面，替换代码为下面的代码。
```javascript
// 目标网站
const upstream = &#39;rce.ink&#39;

// 目标网站路径
const upstream_path = &#39;/index/tenant/租户id/&#39;

// 打算为使用移动设备的用户检索的网站.
const upstream_mobile = &#39;rce.ink&#39;

// 您希望暂停服务的国家和地区
const blocked_region = []

// 要阻止其使用服务的IP地址
const blocked_ip_address = [&#39;0.0.0.0&#39;, &#39;127.0.0.1&#39;]

// 上游地址是否使用HTTPS协议
const https = true

// 是否禁用缓存
const disable_cache = false

// 替换文本
//格式：  &#39;被替换&#39;:&#39;替换&#39;
//注意js结束的的逗号
const replace_dict = {
    // &#39;www.google.com&#39;:&#39;yourworkername.yourusername.workers.dev&#39;
}

let data={}
addEventListener(&#39;fetch&#39;, event =&gt; {
    event.respondWith(fetchAndApply(event.request));
})

async function fetchAndApply(request) {
    const region = request.headers.get(&#39;cf-ipcountry&#39;).toUpperCase();
    const ip_address = request.headers.get(&#39;cf-connecting-ip&#39;);
    const user_agent = request.headers.get(&#39;user-agent&#39;);

    let response = null;
    let url = new URL(request.url);
    let url_hostname = url.hostname;

    if (https == true) {
        url.protocol = &#39;https:&#39;;
    } else {
        url.protocol = &#39;http:&#39;;
    }

    if (await device_status(user_agent)) {
        var upstream_domain = upstream;
    } else {
        var upstream_domain = upstream_mobile;
    }

    url.host = upstream_domain;
    if (url.pathname == &#39;/&#39;) {
        url.pathname = upstream_path;
    } else {
        url.pathname = upstream_path &#43; url.pathname;
    }

    if (blocked_region.includes(region)) {
        response = new Response(&#39;拒绝访问: 您所在的地区不可用!&#39;, {
            status: 403
        });
    } else if (blocked_ip_address.includes(ip_address)) {
        response = new Response(&#39;拒绝访问: 您的IP地址在Ban列表中!&#39;, {
            status: 403
        });
    } else {
        let method = request.method;
        let request_headers = request.headers;
        let new_request_headers = new Headers(request_headers);

        new_request_headers.set(&#39;Host&#39;, upstream_domain);
        new_request_headers.set(&#39;Referer&#39;, url.protocol &#43; &#39;//&#39; &#43; upstream_domain);

        

        if(method == &#39;POST&#39;){
            let origin_formData = await request.text()
            data = {
                method: method,
                headers: new_request_headers,
                body : origin_formData
            }
            console.log(data)
        }else if(method == &#39;GET&#39;){
            data = {
                method: method,
                headers: new_request_headers
            }
        }
        let fuckKeys =  Object.fromEntries(new_request_headers)
        console.log(method)
        console.log(fuckKeys)
        let original_response = await fetch(url.href, data)

        connection_upgrade = new_request_headers.get(&#34;Upgrade&#34;);
        if (connection_upgrade && connection_upgrade.toLowerCase() == &#34;websocket&#34;) {
            return original_response;
        }

        let original_response_clone = original_response.clone();
        let original_text = null;
        let response_headers = original_response.headers;
        let new_response_headers = new Headers(response_headers);
        let status = original_response.status;
		
		if (disable_cache) {
			new_response_headers.set(&#39;Cache-Control&#39;, &#39;no-store&#39;);
	    }

        new_response_headers.set(&#39;access-control-allow-origin&#39;, &#39;*&#39;);
        new_response_headers.set(&#39;access-control-allow-credentials&#39;, true);
        new_response_headers.delete(&#39;content-security-policy&#39;);
        new_response_headers.delete(&#39;content-security-policy-report-only&#39;);
        new_response_headers.delete(&#39;clear-site-data&#39;);
		
		if (new_response_headers.get(&#34;x-pjax-url&#34;)) {
            new_response_headers.set(&#34;x-pjax-url&#34;, response_headers.get(&#34;x-pjax-url&#34;).replace(&#34;//&#34; &#43; upstream_domain, &#34;//&#34; &#43; url_hostname));
        }
		
        const content_type = new_response_headers.get(&#39;content-type&#39;);
        if (content_type != null && content_type.includes(&#39;text/html&#39;) && content_type.includes(&#39;UTF-8&#39;)) {
            original_text = await replace_response_text(original_response_clone, upstream_domain, url_hostname);
        } else {
            original_text = original_response_clone.body
        }
		
        response = new Response(original_text, {
            status,
            headers: new_response_headers
        })
    }
    
    return response;
}

async function replace_form_data(formData, upstream_domain, host_name) {
    let text = await response.text()

    var i, j;
    for (i in replace_dict) {
        j = replace_dict[i]
        if (i == &#39;$upstream&#39;) {
            i = upstream_domain
        } else if (i == &#39;$custom_domain&#39;) {
            i = host_name
        }

        if (j == &#39;$upstream&#39;) {
            j = upstream_domain
        } else if (j == &#39;$custom_domain&#39;) {
            j = host_name
        }

        let re = new RegExp(i, &#39;g&#39;)
        text = text.replace(re, j);
    }
    return text;
}

async function replace_response_text(response, upstream_domain, host_name) {
    let text = await response.text()

    var i, j;
    for (i in replace_dict) {
        j = replace_dict[i]
        if (i == &#39;$upstream&#39;) {
            i = upstream_domain
        } else if (i == &#39;$custom_domain&#39;) {
            i = host_name
        }

        if (j == &#39;$upstream&#39;) {
            j = upstream_domain
        } else if (j == &#39;$custom_domain&#39;) {
            j = host_name
        }

        let re = new RegExp(i, &#39;g&#39;)
        text = text.replace(re, j);
    }
    return text;
}


async function device_status(user_agent_info) {
    var agents = [&#34;Android&#34;, &#34;iPhone&#34;, &#34;SymbianOS&#34;, &#34;Windows Phone&#34;, &#34;iPad&#34;, &#34;iPod&#34;];
    var flag = true;
    for (var v = 0; v &lt; agents.length; v&#43;&#43;) {
        if (user_agent_info.indexOf(agents[v]) &gt; 0) {
            flag = false;
            break;
        }
    }
    return flag;
}
```
### 注意
请在后台绑定域名，否则会导致资源错误。</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>