<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>📑【NDK开发】NDK采集、压缩、加密传输设备信息</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/139.html">猿人学APP第二题  - 算法分析</a></li>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>
 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/140.html">P***OK全版本前台无条件RCE</a></li>
<li><a href="/view/138.html">某安全工具逆向破解</a></li>
<li><a href="/view/137.html">浙江省第四届网络与信息安全竞赛决赛WP</a></li>
<li><a href="/view/136.html">流量加密编程开发</a></li>
<li><a href="/view/135.html">Attack PHP Website By Shiro</a></li>
<li><a href="/view/134.html">某OA授权破解分析</a></li>
<li><a href="/view/133.html">Un1kHacking</a></li>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>📑【NDK开发】NDK采集、压缩、加密传输设备信息</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2023-11-09 10:49:44| 目录:编程开发 </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">## 任务描述

希望开发一个apk。通过各种系统api、各种依赖库api，拿到尽可能全面的设备信息、环境信息以及设备指纹。并且通过数据编码、数据加密后传回服务器，进行云端存储。

## 任务分解

信息采集：通过各类api获取数据，保存在变量池
信息编码：使用protobuf对采集的数据进行压缩
信息加密：通过自定义魔改的AES加密算法将数据流进行加密
信息回传：通过请求发送加密后数据至服务器

## 信息采集

```cpp
    std::string buildId = getSystemProperty(&#34;ro.build.id&#34;).c_str();  // 编译id
    std::string model = getSystemProperty(&#34;ro.product.model&#34;).c_str();  //模型
    std::string manufacturer = getSystemProperty(&#34;ro.product.manufacturer&#34;).c_str();
    std::string brand = getSystemProperty(&#34;ro.product.brand&#34;).c_str();  //品牌
    std::string product = getSystemProperty(&#34;ro.build.product&#34;).c_str();
    std::string fingerprint = getSystemProperty(&#34;ro.build.fingerprint&#34;).c_str(); //指纹
    std::string baseband = getSystemProperty(&#34;vendor.gsm.project.baseband&#34;).c_str();
    std::string sdkversion = getSystemProperty(&#34;ro.build.version.sdk&#34;).c_str();
```

getSystemProperty函数定义如下，用于通过系统api获取系统属性：
```cpp
extern &#34;C&#34; {
    std::string getSystemProperty(std::string key) {
        char Property[100];
        __system_property_get(key.c_str(), Property);
        return Property;
    }
}
```

## 信息编码

如何引入protobuf? 

这里踩了一天的坑，网上都是cpp的高手，没人教cmake怎么用。

首先根据自己电脑下载好一个可用的protoc可执行文件，编写person.proto规则文件

```bash
syntax = &#34;proto3&#34;;

message Person {
  string name = 1;
  int32 age = 2;
  string email = 3;
}
```
执行命令 生成所需用的cpp头文件，以及cc实现文件

![](https://p0.meituan.net/xianfu/07554b5c73dc77af13ddd2d538851a4636195.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

### Android Studio编译protobuf

下载官方源码，建议版本&lt;=21，否则会出现某些类库丢失的问题，需要自己再编译。

提取/src/google/protobuf 到如图所示目录

![](https://p0.meituan.net/xianfu/9549ec7bdcc7cb554934c7a789152c6322474.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

新建一个CMakeLists.txt文件，内容如下：

```
# For more information about using CMake with Android Studio, read the
# documentation: https://d.android.com/studio/projects/add-native-code.html

# Sets the minimum version of CMake required to build the native library.

cmake_minimum_required(VERSION 3.6.0)

# Creates and names a library, sets it as either STATIC
# or SHARED, and provides the relative paths to its source code.
# You can define multiple libraries, and CMake builds them for you.
# Gradle automatically packages shared libraries with your APK.

set(DANDROID_STL c&#43;&#43;_static)
set(DCMAKE_BUILD_TYPE Release)

#add_definitions(&#34;-DDEBUG&#34;)
add_definitions(&#34;-DHAVE_PTHREAD&#34;)

include_directories(.)

set(libprotobuf_files
            google/protobuf/any.cc
            google/protobuf/any.pb.cc
            google/protobuf/api.pb.cc
            google/protobuf/compiler/importer.cc
            google/protobuf/compiler/parser.cc
            google/protobuf/descriptor.cc
            google/protobuf/descriptor.pb.cc
            google/protobuf/descriptor_database.cc
            google/protobuf/duration.pb.cc
            google/protobuf/dynamic_message.cc
            google/protobuf/empty.pb.cc
            google/protobuf/extension_set_heavy.cc
            google/protobuf/field_mask.pb.cc
            google/protobuf/generated_message_bases.cc
            google/protobuf/generated_message_reflection.cc
            google/protobuf/generated_message_tctable_full.cc
            google/protobuf/io/gzip_stream.cc
            google/protobuf/io/printer.cc
            google/protobuf/io/tokenizer.cc
            google/protobuf/map_field.cc
            google/protobuf/message.cc
            google/protobuf/reflection_ops.cc
            google/protobuf/service.cc
            google/protobuf/source_context.pb.cc
            google/protobuf/struct.pb.cc
            google/protobuf/stubs/substitute.cc
            google/protobuf/text_format.cc
            google/protobuf/timestamp.pb.cc
            google/protobuf/type.pb.cc
            google/protobuf/unknown_field_set.cc
            google/protobuf/util/delimited_message_util.cc
            google/protobuf/util/field_comparator.cc
            google/protobuf/util/field_mask_util.cc
            google/protobuf/util/internal/datapiece.cc
            google/protobuf/util/internal/default_value_objectwriter.cc
            google/protobuf/util/internal/error_listener.cc
            google/protobuf/util/internal/field_mask_utility.cc
            google/protobuf/util/internal/json_escaping.cc
            google/protobuf/util/internal/json_objectwriter.cc
            google/protobuf/util/internal/json_stream_parser.cc
            google/protobuf/util/internal/object_writer.cc
            google/protobuf/util/internal/proto_writer.cc
            google/protobuf/util/internal/protostream_objectsource.cc
            google/protobuf/util/internal/protostream_objectwriter.cc
            google/protobuf/util/internal/type_info.cc
            google/protobuf/util/internal/utility.cc
            google/protobuf/util/json_util.cc
            google/protobuf/util/message_differencer.cc
            google/protobuf/util/time_util.cc
            google/protobuf/util/type_resolver_util.cc
            google/protobuf/wire_format.cc
            google/protobuf/wrappers.pb.cc
            google/protobuf/any_lite.cc
            google/protobuf/arena.cc
            google/protobuf/arenastring.cc
            google/protobuf/arenaz_sampler.cc
            google/protobuf/extension_set.cc
            google/protobuf/generated_enum_util.cc
            google/protobuf/generated_message_tctable_lite.cc
            google/protobuf/generated_message_util.cc
            google/protobuf/implicit_weak_message.cc
            google/protobuf/inlined_string_field.cc
            google/protobuf/io/coded_stream.cc
            google/protobuf/io/io_win32.cc
            google/protobuf/io/strtod.cc
            google/protobuf/io/zero_copy_stream.cc
            google/protobuf/io/zero_copy_stream_impl.cc
            google/protobuf/io/zero_copy_stream_impl_lite.cc
            google/protobuf/map.cc
            google/protobuf/message_lite.cc
            google/protobuf/parse_context.cc
            google/protobuf/repeated_field.cc
            google/protobuf/repeated_ptr_field.cc
            google/protobuf/stubs/bytestream.cc
            google/protobuf/stubs/common.cc
            google/protobuf/stubs/int128.cc
            google/protobuf/stubs/status.cc
            google/protobuf/stubs/statusor.cc
            google/protobuf/stubs/stringpiece.cc
            google/protobuf/stubs/stringprintf.cc
            google/protobuf/stubs/structurally_valid.cc
            google/protobuf/stubs/strutil.cc
            google/protobuf/stubs/time.cc
            google/protobuf/wire_format_lite.cc
        )

add_library( # Sets the name of the library.
        protobuf

        # Sets the library as a shared library.
        STATIC

        # Provides a relative path to your source file(s).
        ${libprotobuf_files}

        )


find_library( # Sets the name of the path variable.
        log-lib
        #        log
        zlib-lib
        #        z
        )

# Specifies libraries CMake should link to your target library. You
# can link multiple libraries, such as libraries you define in this
# build script, prebuilt third-party libraries, or system libraries.

target_link_libraries( # Specifies the target library.
        protobuf

        z
        log
        #        ${zlib-lib}
        #        ${log-lib}
        )

set(ANDROID_NDK_REVISION 21)
```

![](https://p0.meituan.net/xianfu/39b14bc789a751ccf96dea18dd804436488476.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

编译后如果出现符号丢失的问题，肯定就是某个cc文件没有被编译导入。

### 测试代码

```cpp
#include &lt;jni.h&gt;
#include &#34;native_depy.h&#34;
#include &lt;sys/types.h&gt;
#include &lt;sys/stat.h&gt;
#include &lt;fcntl.h&gt;
#include &lt;unistd.h&gt;
#include &lt;linux/android/binder.h&gt;
#include &lt;android/log.h&gt;
#include &#34;person.pb.h&#34;
#define TAG    &#34;depy&#34; // 这个是自定义的LOG的标识
#define LOGD(...)  __android_log_print(ANDROID_LOG_DEBUG, TAG, __VA_ARGS__)

#ifdef __cplusplus
extern &#34;C&#34;
#endif

JNIEXPORT jstring JNICALL
Java_com_example_a2023110803_MainActivity_get(JNIEnv *env, jobject thiz) {


    Person person;
    person.set_age(32);
    person.set_email(&#34;admin@123.com&#34;);
    person.set_name(&#34;uu&#34;);

    std::string data;
    person.SerializeToString(&data);

    Person person2;
    person2.ParseFromString(data);
    LOGD(&#34;version %d\n&#34;,person2.email().c_str());

    return env-&gt;NewStringUTF(person2.email().c_str());
#ifdef __cplusplus
}
#endif
```

运行后手机上出现admin@123.com代表protobuf引入成功。

### 使用logcat

```
#include &lt;android/log.h&gt;
#define TAG    &#34;depy&#34; // 这个是自定义的LOG的标识
#define LOGD(...)  __android_log_print(ANDROID_LOG_DEBUG, TAG, __VA_ARGS__)
```

![](https://p0.meituan.net/xianfu/0f682630629604694c262ad74b22632262372.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

进行cyberchef的解码，发现成功。

![](https://p1.meituan.net/xianfu/07a5ce101ac1ba1a261ebef52b1240ec264810.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

## 信息加密

### 引入openssl

引入libcrypto.a 与libssl.a

![](https://p1.meituan.net/xianfu/c0c97f94d5f0943b5cafe131b05dd7b740420.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

引入头文件

![](https://p0.meituan.net/xianfu/d5c63103961a113c2b227d7a42ce00d07371.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

![](https://p0.meituan.net/xianfu/bbbf8c36c48a86c78fca37f9850cf32673297.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

编译提示没问题代表可以使用，可能会飘红，但会是缓存问题，重启一下android studio就行。

### 使用evp.h进行aes加密

evp.h已默认封装了一些方法，可以直接调用。默认的填充方式是pkcs#7。
```cpp
#include &lt;jni.h&gt;
#include &#34;native_depy.h&#34;
#include &#34;device.pb.h&#34;
#include &lt;android/log.h&gt;
#include &lt;openssl/evp.h&gt;
#include &lt;iostream&gt;
#include &lt;iomanip&gt;
#include &lt;sstream&gt;
#include &lt;string&gt;
#include &lt;vector&gt;

#define TAG   &#34;depy&#34; // 这个是自定义的LOG的标识
#define LOGD(...)  __android_log_print(ANDROID_LOG_DEBUG, TAG, __VA_ARGS__)


std::string byteArrayToHexString(const std::vector&lt;unsigned char&gt;& byteArray) {
    std::stringstream ss;
    ss &lt;&lt; std::hex &lt;&lt; std::setfill(&#39;0&#39;);
    for (size_t index = 0; index &lt; byteArray.size(); &#43;&#43;index) {
        ss &lt;&lt; std::setw(2) &lt;&lt; static_cast&lt;unsigned int&gt;(byteArray[index]);
    }
    return ss.str();
}


extern &#34;C&#34;
JNIEXPORT jstring JNICALL
Java_com_example_a2023110803_MainActivity_get(JNIEnv *env, jobject thiz) {

    //信息采集
    std::string buildId = getSystemProperty(&#34;ro.build.id&#34;).c_str();  // 编译id
    std::string model = getSystemProperty(&#34;ro.product.model&#34;).c_str();  //模型
    std::string manufacturer = getSystemProperty(&#34;ro.product.manufacturer&#34;).c_str();
    std::string brand = getSystemProperty(&#34;ro.product.brand&#34;).c_str();  //品牌
    std::string product = getSystemProperty(&#34;ro.build.product&#34;).c_str();
    std::string fingerprint = getSystemProperty(&#34;ro.build.fingerprint&#34;).c_str(); //指纹
    std::string baseband = getSystemProperty(&#34;vendor.gsm.project.baseband&#34;).c_str();
    std::string sdkversion = getSystemProperty(&#34;ro.build.version.sdk&#34;).c_str();

    //protobuf 编码
    device device_1;
    device_1.set_fingerprint(fingerprint);
    device_1.set_product(product);
    device_1.set_manufacturer(manufacturer);
    device_1.set_model(model);
    device_1.set_baseband(baseband);
    device_1.set_buildid(buildId);
    device_1.set_sdkversion(sdkversion);
    device_1.set_brand(brand);
    std::string data;
    device_1.SerializeToString(&data);
    LOGD(&#34;data %s\n&#34;,hexString(data).c_str());

    //aes-cbc加密
    OpenSSL_add_all_algorithms();

    // 创建并初始化 EVP_CIPHER_CTX 结构体
    EVP_CIPHER_CTX* ctx = EVP_CIPHER_CTX_new();
    EVP_CIPHER_CTX_init(ctx);

    unsigned char key[] = {0x00, 0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07,
                           0x08, 0x09, 0x0a, 0x0b, 0x0c, 0x0d, 0x0e, 0x0f,
                           0x10, 0x11, 0x12, 0x13, 0x14, 0x15, 0x16, 0x17,
                           0x18, 0x19, 0x1a, 0x1b, 0x1c, 0x1d, 0x1e, 0x1f};
						   
    unsigned char iv[] = {0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0};
    assert(sizeof(key) == 32);  // AES256 key size
    assert(sizeof(iv) == 16);   // IV is always the AES block size

    std::string plain((data));
    std::vector&lt;unsigned char&gt; encrypted;
    size_t max_output_len = plain.length() &#43; 16 - (plain.length() % 16);
    encrypted.resize(max_output_len);

    EVP_CipherInit_ex(ctx, EVP_aes_256_cbc(), NULL, key, iv, 1);

    int actual_size = 0;
    EVP_CipherUpdate(ctx,
                     &encrypted[0], &actual_size,
                     reinterpret_cast&lt;unsigned char *&gt;(&plain[0]), plain.size());

    int final_size;
    EVP_CipherFinal_ex(ctx, &encrypted[actual_size], &final_size);
    actual_size &#43;= final_size;

    encrypted.resize(actual_size);

    std::string hexString = byteArrayToHexString(encrypted);

    EVP_CIPHER_CTX_cleanup(ctx);
    LOGD(&#34;cryptodata %s\n&#34;,hexString.c_str());
    return env-&gt;NewStringUTF(hexString.c_str());
	
}



```

![](https://p0.meituan.net/xianfu/805003a1f46366b590c48b7693cc1591331951.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

添加编译选项用于去除符号

```
set(CMAKE_C_FLAGS &#34;${CMAKE_C_FLAGS} -fvisibility=hidden&#34;)
set(CMAKE_CXX_FLAGS &#34;${CMAKE_CXX_FLAGS} -fvisibility=hidden&#34;)
```</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>