<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>💼 Frida作业-20231114</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>博客文章（备份）</p>
    <ul>
<li><a href="/view/137.html">浙江省第四届网络与信息安全竞赛决赛WP</a></li>
<li><a href="/view/136.html">流量加密编程开发</a></li>
<li><a href="/view/135.html">Attack PHP Website By Shiro</a></li>
<li><a href="/view/134.html">某OA授权破解分析</a></li>
<li><a href="/view/133.html">Un1kHacking</a></li>
<li><a href="/view/132.html">Un1kLog4shellScan </a></li>
<li><a href="/view/131.html">Netty 开发Mitm解决请求响应匹配问题	</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/129.html">😡 关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>
 <p>逆向分析</p>
    <ul>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>💼 Frida作业-20231114</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2023-11-14 19:47:09| 目录:逆向分析 </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">##  Frida Work

1、system_property_get的输入和输出
2、protobuf 序列化数据
3、aes的输入（明文、key、iv） 可以尝试能不能看出是pkcs#7的填充和输出

样本下载：//待补充

### 基础分析

使用jadx逆向apk。

![](https://p1.meituan.net/xianfu/4083b98b5b0db6402610c0b820e6339d122519.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

可以知道它调用un1ksec的lib库，定义了一个get的native方法。使用ida分析libun1ksec.so，搜索java_查找函数名，以确定是不是静态绑定。

![](https://p0.meituan.net/xianfu/cdf85e310c525838627f12c73de28251204416.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

确实是静态绑定，直接按tab查看具体的代码逻辑。

![](https://p0.meituan.net/xianfu/1e2ed7798bb16c38a825183bd7f5315f427031.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

可以发现它调用了很多次sub_310088的方法，与sub_131a58的方法。

跟进sub_310388，判断可能是对字符串进行初始化或构造。

![](https://p0.meituan.net/xianfu/5df44fbcc8398e5b552b56c4793a275274566.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

跟进sub_13158

![](https://p0.meituan.net/xianfu/d269f2f5f7472d5722e0306875371e33137891.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

### Hook __system_property_get
发现直接去调用了system_property_get函数，结合前面的入参，这两个函数大概是用来获取设备属性的。

找到此函数的偏移地址，我找的是较底层的plt地址，由于frida Hook会破坏当前地址后的几条指令，如果函数代码量大可以等待frida修复后继续执行。但是这个函数太短了，如果hook函数开头会影响执行，所以选择0x694EFC作为我们的偏移。

![](https://p0.meituan.net/xianfu/3559430bfdcce0c4b2db7e2d3b5fb6eb118115.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

```javascript
function todoOndlopen(libraryName, fn) {
    return new Promise((resolve, reject) =&gt; {
        var exportName = Java.androidVersion &gt;= 8.1 ? &#39;android_dlopen_ext&#39; : &#39;dlopen&#39;;
        var dlopen_ptr = Module.findExportByName(null, exportName);
        if (dlopen_ptr) {
            Interceptor.attach(dlopen_ptr, {
                onEnter: function (args) {
                    var libPath = args[0].readCString();
                    if (libPath.indexOf(libraryName) !== -1) {
                        console.log(`libraryPath: ${libPath}`);
                        this.hook = true
                    }
                },
                onLeave: function (retVal) {
                    if (this.hook) {
                        this.hook = false;
                        console.log(&#39;hooking&#39;)
                        resolve(fn());
                    }
                }
            })
        } else {
            reject(exportName &#43; &#39; not found&#39;)
        }
    })
 }
 
 
 
 function hook(){
    const libraryName = &#39;libun1ksec.so&#39;;
    return todoOndlopen(libraryName, ()=&gt;{
        const libraryName = &#39;libun1ksec.so&#39;;
        let libso = Process.getModuleByName(libraryName);
        var base_addr = Module.findBaseAddress(libraryName);
	console.log(base_addr)
        Interceptor.attach(base_addr.add(0x694EFC), {
            onEnter: function(args) {
                console.log(Memory.readCString(args[0]));
            },
        })
 
    })
 }
 
 
 
 hook()

```

![](https://p1.meituan.net/xianfu/c8813cef8889873e6e5976e179ebe9b1155396.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

#### 返回值如何Hook？

函数调用栈：

0x30F550 -&gt; 0x313A58 -&gt;0x694EF0

方法1:全局Hook __system_property_get，并打印堆栈。找到是由libun1ksec.so调用的，此时直接打印返回值即可。

代码如下：

```javascript
function todoOndlopen(libraryName, fn) {
    return new Promise((resolve, reject) =&gt; {
        var exportName = Java.androidVersion &gt;= 8.1 ? &#39;android_dlopen_ext&#39; : &#39;dlopen&#39;;
        var dlopen_ptr = Module.findExportByName(null, exportName);
        if (dlopen_ptr) {
            Interceptor.attach(dlopen_ptr, {
                onEnter: function (args) {
                    var libPath = args[0].readCString();
                    if (libPath.indexOf(libraryName) !== -1) {
                        console.log(`libraryPath: ${libPath}`);
                        this.hook = true
                    }
                },
                onLeave: function (retVal) {
                    if (this.hook) {
                        this.hook = false;
                        console.log(&#39;hooking&#39;)
                        resolve(fn());
                    }
                }
            })
        } else {
            reject(exportName &#43; &#39; not found&#39;)
        }
    })
 }
 
 
 
 function hook(){
    const libraryName = &#39;libun1ksec.so&#39;;
        return todoOndlopen(libraryName, ()=&gt;{
            const libraryName = &#39;libun1ksec.so&#39;;
            let libso = Process.getModuleByName(libraryName);
            let buffer = null;
            var base_addr = Module.findBaseAddress(libraryName);


            //int __system_property_get(const char *name, char *value)  参数1是属性名 参数2是buffer 返回值是属性值的字符串长度
            Interceptor.attach(Module.findExportByName(null, &#34;__system_property_get&#34;),
            {
                onEnter: function (args) {
                    this.flag = false
                    let backtrace = Thread.backtrace(this.context, Backtracer.ACCURATE).map(DebugSymbol.fromAddress).join(&#39;\n&#39;);
                    if(backtrace.indexOf(&#39;un1ksec&#39;) != -1){
                        this.flag = true;
                        this.buffer = args[1]
                        console.log(&#34;name:&#34;&#43;Memory.readCString(args[0]))
                        console.log(&#39;RegisterNatives called from:\n&#39; &#43; Thread.backtrace(this.context, Backtracer.ACCURATE).map(DebugSymbol.fromAddress).join(&#39;\n&#39;) &#43; &#39;\n&#39;);
                    }
                },
                onLeave: function (retval) {
                    if(this.flag){
                        this.flag = false;
                        console.log(&#34;value:&#34;&#43;Memory.readCString(this.buffer))
                        console.log(&#34;----------------------------&#34;)
                    }

                }
            }


        );
    
    })
 }
 
 
 
 hook()

```
![](https://p0.meituan.net/xianfu/f090c2c14509d9c05073301a291b8f281357258.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

方法2:汇编层面分析调用

虽然我们能在0x694EFC处获取函数入，参但是我们没办法在此处获取返回值，原因同上。所以需要分析一下函数的调用与返回值传递过程：

入参传递：
层级1 -&gt; 层级2 -&gt;层级3
返回值传递：
层级3 -&gt;层级2 -&gt; 层级1

查看此处的汇编代码：

![](https://p0.meituan.net/xianfu/34e28587877c39b5eeb79c4f8ddd94cb243854.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

首先，将寄存器X1的值存储到栈中的某个位置，然后调用了一个获取系统属性的函数，最后将获取到的值加载到寄存器X1中。使用Frida直接Hook此时的寄存器的值。

那么我们可以选择偏移为 0x313A94的时机去hook返回值，此时寄存器已被赋值。


```javascript
function todoOndlopen(libraryName, fn) {
    return new Promise((resolve, reject) =&gt; {
        var exportName = Java.androidVersion &gt;= 8.1 ? &#39;android_dlopen_ext&#39; : &#39;dlopen&#39;;
        var dlopen_ptr = Module.findExportByName(null, exportName);
        if (dlopen_ptr) {
            Interceptor.attach(dlopen_ptr, {
                onEnter: function (args) {
                    var libPath = args[0].readCString();
                    if (libPath.indexOf(libraryName) !== -1) {
                        console.log(`libraryPath: ${libPath}`);
                        this.hook = true
                    }
                },
                onLeave: function (retVal) {
                    if (this.hook) {
                        this.hook = false;
                        console.log(&#39;hooking&#39;)
                        resolve(fn());
                    }
                }
            })
        } else {
            reject(exportName &#43; &#39; not found&#39;)
        }
    })
 }
 
 
 
 function hook(){
    const libraryName = &#39;libun1ksec.so&#39;;
    return todoOndlopen(libraryName, ()=&gt;{
        const libraryName = &#39;libun1ksec.so&#39;;
        let libso = Process.getModuleByName(libraryName);
        let buffer = null;
        var base_addr = Module.findBaseAddress(libraryName);

        Interceptor.attach(base_addr.add(0x313A94), {
            onEnter: function(args) {
                console.log(Memory.readCString(this.context.x1));
            }

        })
 
    })
 }
 
 
 
 hook()

```

![](https://p1.meituan.net/xianfu/806d739a5e6f1491c11c40e5a984afa7190730.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

综上，记住lilac说的两个要点：

* 不hook较短的函数
* 初期尽量使用函数hook而不是inline hook

### Hook protobuf 序列化数据

![](https://p0.meituan.net/xianfu/8f4023fd9cbba42c5b088477cc821cb3278883.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

出现明显的标志google::protobuf::internal::ArenaStringPtr::Set，是protobuf进行结构体数据属性设置的地方。

google::protobuf::MessageLite::SerializeToString(v64, v39); 是将数据进行序列化输出，我们可以观测一下它的返回值。此时查看此函数的返回值定义：

![](https://p1.meituan.net/xianfu/89126b82aec9311e49463150c0d6eb1029203.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

是定义在参数中的std::string类型的指针，写了一篇文章关于此结构体的内存布局：https://docs.rce.ink/view/?view_id=74

hook 一下
![](https://p0.meituan.net/xianfu/da3b03b25fb4522d5b2c72f40b5daf56257825.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

```
             0  1  2  3  4  5  6  7  8  9  A  B  C  D  E  F  0123456789ABCDEF
7fe80b3280  c1 00 00 00 00 00 00 00 b0 00 00 00 00 00 00 00  ................
7fe80b3290  80 e4 aa 12 74 00 00 b4

```
根据文章，第一个8字节第一位代表cap，第二个8字节第一位代表数据length，最后8字节代表data存储的地址。所以我们需要获取length和data地址，frida代码如下：

```javascript
function todoOndlopen(libraryName, fn) {
    return new Promise((resolve, reject) =&gt; {
        var exportName = Java.androidVersion &gt;= 8.1 ? &#39;android_dlopen_ext&#39; : &#39;dlopen&#39;;
        var dlopen_ptr = Module.findExportByName(null, exportName);
        if (dlopen_ptr) {
            Interceptor.attach(dlopen_ptr, {
                onEnter: function (args) {
                    var libPath = args[0].readCString();
                    if (libPath.indexOf(libraryName) !== -1) {
                        console.log(`libraryPath: ${libPath}`);
                        this.hook = true
                    }
                },
                onLeave: function (retVal) {
                    if (this.hook) {
                        this.hook = false;
                        console.log(&#39;hooking&#39;)
                        resolve(fn());
                    }
                }
            })
        } else {
            reject(exportName &#43; &#39; not found&#39;)
        }
    })
 }
 
 
 
 function hook(){
    const libraryName = &#39;libun1ksec.so&#39;;
    return todoOndlopen(libraryName, ()=&gt;{
        const libraryName = &#39;libun1ksec.so&#39;;
        let libso = Process.getModuleByName(libraryName);
        let buffer = null;
        var base_addr = Module.findBaseAddress(libraryName);

        Interceptor.attach(base_addr.add(0x30FA64), {
            onEnter: function(args) {
                this.length = args[1].add(8).readUInt() //获取data部分长度
                console.log(hexdump(args[1].add(16).readPointer(),{ length: this.length }))
            },
            onLeave: function (retVal) {
                console.log(&#39;on leave&#39;)
                
            }
        
    })
 })
}
 
 
 
 hook()
```

成功获取序列化数据的内容：

![](https://p0.meituan.net/xianfu/16041c934c3506f5eee6d33983bebdfa353075.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

使用cyberchef解码成功

![](https://p1.meituan.net/xianfu/9668fcf6624526fa4b113adc6e5d7dba376570.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)


### Hook aes加密算法

看到一个evp的初始化方法EVP_CipherInit_ex。

![](https://p1.meituan.net/xianfu/ff9a4d6e0b1f28ee1bf7bf096a07250f50611.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

第四、五入参分别是key和iv，对照ida

![](https://p0.meituan.net/xianfu/8e74b0a5be078774a779ae9d9572e84896154.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

大致能知道v30是&ctx，v19是加密模式 aes-cbc-256，v74是key，v73是iv这里都是0。

key :

```
.rodata:0000000000220FBC xmmword_220FBC  DCB 0x10, 0x11, 0x12, 0x13, 0x14, 0x15, 0x16, 0x17, 0x18
```
但是这样是因为apk写的太简单了，还是通过内存布局里看到这些定义比较好。实际上初始化的过程中以及获取加密结果的方法，都只是把一些参数属性设置到上下文&ctx中而已。我们可以查看一ctx的结构体定义：

![](https://p1.meituan.net/xianfu/f7e986ab1b686386609fe136243b8492363994.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

那么在程序运行到 EVP_CipherUpdate函数时，就可以获取args[0],根据结构体定义找到key和iv。

![](https://p0.meituan.net/xianfu/96bab9652d09dcb2c359ed3e04dbfc65336912.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

使用frida进行inline hook

```javascript
        Interceptor.attach(base_addr.add(0x30FC04), {
            onEnter: function(args) {
			console.log(hexdump(args[0]))
            }
    })
```

![](https://p1.meituan.net/xianfu/2a6e68d1ce5a65e1a414f05005c8442e349173.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

能看到明文存在里面某个区域位置，其他需要结合结构体定义来看。后续在实战分析加密算法的时候再继续深入。本章完结。</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>