<!doctype html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://file.depy.ink/theme/docs/css/bootstrap.min.css?v=8280" rel="stylesheet">
    <link href="https://file.depy.ink/theme/docs/css/main.css?v=3525" rel="stylesheet">
    <script src="https://file.depy.ink/theme/docs/js/jquery.min.js"></script>
    <script src="https://file.depy.ink/theme/docs/js/bootstrap.min.js?v=4094"></script>
    <script src="https://file.depy.ink/theme/docs/js/functions.js?v=8141"></script>
    <script src="https://file.depy.ink/theme/docs/js/marked.min.js"></script>
    <link href="https://file.depy.ink/theme/docs/css/doc.css?v=4299" rel="stylesheet">
    <link rel="stylesheet" href="https://file.depy.ink/assets/editor/editormd/css/editormd.css?v=6567" />
    <script src="https://file.depy.ink/assets/editor/editormd/editormd.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/marked.min.js"></script>
    <script src="https://file.depy.ink/assets/editor/editormd/lib/prettify.min.js"></script>

    <script src="https://file.depy.ink/theme/docs/js/pjax.min.js"></script>
    


    <script src="https://file.depy.ink/theme/docs/js/lightbox-plus-jquery.min.js"> </script>
    <link href="https://file.depy.ink/theme/docs/css/lightbox.css?v=3328" rel="stylesheet"><title>📚《逆向工程权威指南》 - 1-4章</title>
</head>

<body class="bg-light ready sticky" id="watermark">


             <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-white mybt2 sticky-top">
        <div class="container-fluid" style="max-width:1332px;">
            <a class="navbar-brand" href="/"><b class="">Depy's docs</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" >首页</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>


<main>


<aside class="sidebar">
           <div class="sidebar-nav mt-2">
            <ul>
            <li>

 <p>逆向分析</p>
    <ul>
<li><a href="/view/86.html">⚙️ 【Xposed 改机】- 基础环境安装</a></li>
<li><a href="/view/81.html">💻 安卓内联汇编开发</a></li>
<li><a href="/view/76.html">📑 JNI 使用基础</a></li>
<li><a href="/view/75.html">📑 IDA Debugger 调试器使用</a></li>
<li><a href="/view/74.html">💻 std::string内存布局</a></li>
<li><a href="/view/73.html">💼 Frida作业-20231114</a></li>
<li><a href="/view/65.html">🧮 JSVMP执行流程分析</a></li>
    </ul>
 <p>DepyDocs</p>
    <ul>
<li><a href="/view/122.html">📑 DepyDocs</a></li>
<li><a href="/view/120.html">📑  Un1kMsg使用</a></li>
<li><a href="/view/114.html">📑 联系方式</a></li>
<li><a href="/view/91.html">📑 额外配置</a></li>
<li><a href="/view/88.html">📑  更新日志</a></li>
<li><a href="/view/72.html">📑 时光机使用</a></li>
<li><a href="/view/66.html">📑 DepyOauth接入指南</a></li>
<li><a href="/view/62.html">📑 官方域名申请</a></li>
<li><a href="/view/47.html">📑 租户自定义域名绑定</a></li>
    </ul>
 <p>Todo</p>
    <ul>
<li><a href="/view/118.html">Todo List</a></li>
    </ul>
 <p>随笔</p>
    <ul>
<li><a href="/view/128.html">小年</a></li>
<li><a href="/view/109.html">❤ 2023</a></li>
    </ul>
 <p>测试笔记</p>
    <ul>
<li><a href="/view/130.html">测试同步</a></li>
<li><a href="/view/129.html">关于DDOS我能做什么</a></li>
<li><a href="/view/123.html">🐑 某加密样本 Trace分析 - 2</a></li>
<li><a href="/view/121.html">🐑 某加密样本 Trace分析</a></li>
<li><a href="/view/115.html">🔧 轻量级CI/CD+文件内容监控/防篡改解决方案</a></li>
<li><a href="/view/105.html">🍯 有用的命令备份</a></li>
<li><a href="/view/94.html">😊 Gateway-woker实现热重载</a></li>
<li><a href="/view/90.html">✍️ Xposed运行原理</a></li>
<li><a href="/view/89.html">AutoJS 模拟贝塞尔曲线视频滑动</a></li>
<li><a href="/view/84.html">📱 小米13绕过SIM卡打开USB安装</a></li>
    </ul>
 <p>读书笔记</p>
    <ul>
<li><a href="/view/119.html">📚 注入与HOOK</a></li>
<li><a href="/view/117.html">📚《深入探索安卓热修复技术原理》32 -</a></li>
<li><a href="/view/112.html">📚《深入探索安卓热修复技术原理》1-32</a></li>
<li><a href="/view/82.html">📚《逆向工程权威指南》 - 1-4章</a></li>
    </ul>
 <p>编程开发</p>
    <ul>
<li><a href="/view/111.html">🌹 Dobby使用</a></li>
<li><a href="/view/77.html">📑【前端开发】lightbox+pjax最佳实践</a></li>
<li><a href="/view/71.html">📑【NDK开发】NDK采集、压缩、加密传输设备信息</a></li>
<li><a href="/view/70.html">📑【NDK开发】基础环境搭建</a></li>
    </ul>


</li>
</ul></div>
</aside><section class="content mx-auto" id="article">
        <div class="d-flex">



            <article class="markdown-section" id="main" style="word-break:break-all;">
                <div>
                <h1>📚《逆向工程权威指南》 - 1-4章</h1>


                <a style="font-size:12px;color: #5f5d5d;">
                | 时间: 2023-11-28 10:12:30| 目录:读书笔记 </a>
                |
                <a style="font-size:12px;color: #007bff;" href="http://10.8.0.3:5080/tenantadmin/Tenantarticle/quickedit/quickedit.html?id=118" target="_blank">编辑本文</a>
                <br>


                    <div id="content"><textarea style="display: none;">*笔者使用设备是Macbook Pro M2，故文中仅关注arm32及64的部分。


## CPU

CPU是执行程序机器码的硬件单元。

指令码:CPU受理的底层命令。典型的底层命令有:将数据在寄存器间转移、操作内存、计算运算等指令。每类CPU都有自己的指令集架构(InstructionSetArchitecture, ISA)。

机器码 : 发送给CPU的程序代码。 一条指令通常被封装为若干字节 。

汇 编 语 言: 为了让程序员少长白头发而创造出来的、易读易记的代 码，它有很多类似宏的扩展功能。宏（Macro）是一种在编程语言中用来定义和展开代码片段的机制。宏可以将一组代码模板定义为一个可重复使用的代码块，并在编译时将宏调用处的代码替换为定义的代码片段。

CPU寄存器:每种CPU都有其固定的通用寄存器(GPR)。x86CPU里一般有8 个GPR，x64里往往有16个GPR，而ARM里则通常有16个GPR。您可以认为CPU寄存器是一种存储单元，它能够无差别地存储所有类型的临时变量 。假如您使用一种高级的编程语言，且仅会使用到8个32位变量，那么光CPU自带的寄存器就能完成不少任务了。

我们需要用一种程序把高级的编程语言转换为CPU能受理的底层汇编 语言，而这种程序就是人们常说的编译器/Compiler。

### 指令集架构

x86架构中，**各opcode (汇编指令对应的机器码)的长度不尽相同**。出于兼容性的考虑，后来问世的64 位CPU指令集架构也没有大刀阔斧地摒弃原有指令集架构。很多面向早期16 位 8086CPU 的指令，不仅被x86 的指令集继承，而且被当前最新的CPU指令集继续沿用。

ARM属于RISC（精简指令集）CPU，它的指令集在设计之初就力图保持各opcode 的长度一致。在过去，这一特性的确表现出了自身的优越性。最初的时候，所有ARM指令的机器码都被封装在4 个字节里。人们把这种 运 行 模 式叫 作 “ A R M 模 式 ” 。

Thumb指令集是一种 充分利用处理器性能、足以与ARM 模式媲美的独立的运行模式。由 于 x c o d e 编 译 器 默 认 采 用 T h u m b - 2 指 令 集 编 译， 所 以 现 在 主 流 的 iPod iPhone/iPad应用程序都采用了Thumb-2指令集。

## 最简函数


*![](https://p0.meituan.net/xianfu/b9eebfec9110ba92b5d7dac41d4522b342727.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

此处下断点，在clion的lldb调试器输入disassemble：

![](https://p0.meituan.net/xianfu/74f3cf5a3eeff3762ef51bc43db8fce321443.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

在 ARM64 的函数调用约定中，返回值通常存储在 x0 寄存器中。然而，有时候会出现返回值存储在 w0 寄存器中的情况。

这种情况通常发生在返回值是一个小于等于 32 位的整数类型时。ARM64 架构中，x0 寄存器是 64 位的通用寄存器，而 w0 寄存器是 x0 的低 32 位部分。当返回值可以用 32 位寄存器表示时，编译器可能会选择将返回值存储在 w0 寄存器中，以节省寄存器的使用。最终使用ret指令返回。

在arm32中：

![](https://p1.meituan.net/xianfu/2cfafaac665c32961ec9c7baaaf79fd326624.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

将值存储在寄存器r0中，lr寄存器存储函数结束之后的返回地址 。BXLR指令的作用是跳转到返回地址 ， 即返回到调用者函数，然后继续执行调用体caller 的后续指令。

## hello world

![](https://p0.meituan.net/xianfu/3938132a0118ae3c53c9533e03db898c219853.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

ida-&gt;option-&gt;geneal 查看机器码，长度改成8位

![](https://p0.meituan.net/xianfu/92a23040f05ec8b29d2fab06f05163bd330489.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)


![](https://p0.meituan.net/xianfu/d80d3ab865e28e7e5c14255ac12cab59248157.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

我们发现adrl这条指令出现了8字节？这是为什么呢？

打开https://armconverter.com/

把机器码复制后粘贴：

![](https://p1.meituan.net/xianfu/013422bc626c216e5c2162025a664c5053119.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

发现实际上这是一个两条指令组成的伪指令，ida为了方便查看所以这么展示。所以不用怀疑，arm64中依然是4字节为一条指令。

![](https://p0.meituan.net/xianfu/729e7d6f866117375224ce964ed54bfd38479.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

指令实现把指定地址赋值给x0寄存器，根据函数调用约定，x0-x7会作为函数调用的入参，所以x0极大可能会作为bl 跳转后的printf函数的入参，这也就是为什么很多反编译器反编译函数的时候，有很多的参数，很多参数和实际开发的代码差距很大，这是因为反编译器没办法知道操作的几个寄存器是否作为入参传入了函数。


```
__text:0000000100003F58 FF 83 00 D1                             SUB             SP, SP, #32
__text:0000000100003F5C FD 7B 01 A9                             STP             X29, X30, [SP,#16]
__text:0000000100003F60 FD 43 00 91                             ADD             X29, SP, #16
__text:0000000100003F64 08 00 80 52                             MOV             W8, #0
__text:0000000100003F68 E8 0B 00 B9                             STR             W8, [SP,#8]
__text:0000000100003F6C BF C3 1F B8                             STUR            WZR, [X29,#-4]
__text:0000000100003F70 00 00 00 90 00 60 3E 91                 ADRL            X0, aHelloWorld ; &#34;hello world\n&#34;
__text:0000000100003F78 05 00 00 94                             BL              _printf
__text:0000000100003F7C E0 0B 40 B9                             LDR             W0, [SP,#8]
__text:0000000100003F80 FD 7B 41 A9                             LDP             X29, X30, [SP,#16]
__text:0000000100003F84 FF 83 00 91                             ADD             SP, SP, #0x20 ; &#39; &#39;
__text:0000000100003F88 C0 03 5F D6                             RET
```

### 编译优化

在上文中我们在汇编代码可以看到这样的冗余指令：

```
__text:0000000100003F64 08 00 80 52                             MOV             W8, #0
__text:0000000100003F68 E8 0B 00 B9                             STR             W8, [SP,#8]
//something
__text:0000000100003F7C E0 0B 40 B9                             LDR             W0, [SP,#8]
```
首先这条指令是将立即数0存储到寄存器W8中。然后将寄存器W8中的数据存储到内存中。最后从相同位置把值赋值给w0寄存器作为函数返回值，也就是实现return 0的效果。

有个疑问是为什么不直接在最后以 MOV       W0, #0的方式来做呢？这样不就是省掉了对栈的操作，省掉了两个指令呢？

这个问题涉及到编译器优化和代码生成的策略。编译器在生成代码时会考虑多个因素，包括代码的可读性、执行效率和代码大小等。在这种情况下，使用STR指令将寄存器W8中的数据存储到内存中，然后再使用LDR指令将值加载到寄存器W0中，可能是为了保持代码的一致性和可读性。这样的代码结构更加清晰，易于理解和维护。另外，编译器可能会根据具体的优化策略和目标平台的特性来选择生成的指令序列。在某些情况下，编译器可能会进行指令重排或其他优化，以提高代码的执行效率。

例如设置编译优化选项为-O3：

![](https://p1.meituan.net/xianfu/94c707c9c9ab3b111237db6da0d39e7a172038.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

 wzr是32位的零寄存器。我们会得到自己期望的结果。
 
 ### 函数序言和函数尾声
 
每个函数调用，都会有 入栈 和 出栈 操作。x29寄存器是栈帧指针寄存器（FP），x30寄存器是lr寄存器。也就是函数返回地址。以上文代码为例，画两个图：

入栈:

![](https://p0.meituan.net/xianfu/a3996d37054f297835f14c7f5774b7ba174657.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

出栈：

![](https://p0.meituan.net/xianfu/4776b08f747f115e37a87a85873d1b5099884.png%40watermark=1&&object=L3dkY2Zsb3cvN2RiN2M4NTFjYmVjZDg4MTM1OTZjMTYzOWE2MzQ4MDM0MjY0LnBuZw==&p=8&t=90&x=10&y=10)

借助函数序言和函数尾声的有关特征，我们可以在汇编语言里识别各个函数。这也是一些反编译器的识别原理之一。</textarea></div>


                <script>
                   $(function () {
                        
                        editormd.markdownToHTML("content");
                    })

                </script>




                </div>

                <hr>


                <div>
                    <h5>© 版权声明：非标注『转载』情况下本文为原创文章，版权归&nbsp;<a href="/">Depy's docs</a>&nbsp;所有，转载请联系博主获得授权。</h5>
                </div>

            </article>



    <div class="ad d-none d-lg-block">

        <div style="margin-left: 20px;margin-bottom:15px;font-weight:bold"> 『目录』 </div>
    <div class="anchorContent" id="anchorContent"> </div>
                       </div>

            </div>
    </section>
    <button class="sidebar-toggle sidebar-toggle-button" aria-label="Menu">
        <div><span></span><span></span><span></span></div>
    </button>

</main>

<link href="https://file.depy.ink/theme/docs/css/prettify.css?v=5530" rel="stylesheet">
<script src="https://file.depy.ink/theme/docs/js/prettify.js?v=5764"></script>
<script src="https://file.depy.ink/theme/docs/js/view.js?v=4125"></script>



<script>


    
    function addWatermark({
        container = document.body, 
        width = "220px", 
        height = "160px", 
        textAlign = "center", 
        textBaseline = "middle", 
        font = "16px Microsoft Yahei", 
        fillStyle = "rgba(184, 184, 184, 0.6)", 
        content = "depy|rce.ink", 
        rotate = "45", 
        zIndex = 10000, 
    }) {
        
        const canvas = document.createElement("canvas");
        canvas.setAttribute("width", width);
        canvas.setAttribute("height", height);
        const ctx = canvas.getContext("2d");
        ctx.textAlign = textAlign;
        ctx.textBaseline = textBaseline;
        ctx.font = font;
        ctx.fillStyle = fillStyle;
        ctx.rotate((Math.PI / 180) * rotate);
        ctx.fillText(content, parseFloat(width) / 2, parseFloat(height) / 2);

        
        const base64Url = canvas.toDataURL();
        const __wm = document.querySelector('.__wm');
        const watermarkDiv = __wm || document.createElement("div");
        const styleStr = `
                    position: fixed;
                    top: -70px;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    z-index: ${zIndex};
                    pointer-events: none;
                    background-repeat: repeat;
                    background-image: url('${base64Url}')
                `;
        watermarkDiv.setAttribute("style", styleStr);
        watermarkDiv.classList.add("__wm");
        

        if (!__wm) {
            container.style.position = 'relative';
            container.insertBefore(watermarkDiv, container.firstChild);
        }
            
            const MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
            if (MutationObserver) {
                let mo = new MutationObserver(function () {
                    const __wm = document.querySelector('.__wm');
                    
                    if ((__wm && __wm.getAttribute('style') !== styleStr) || !__wm) {
                        
                        mo.disconnect();
                        mo = null;
                        console.log('1');
                        addWatermark({
                            container: document.getElementById("watermark"),
                            width: "220px",
                            height: "160px",
                            textAlign: "center",
                            textBaseline: "middle",
                            font: "16px Microsoft Yahei",
                            fillStyle: "rgba(184, 184, 184, 0.3 )",
                            content: "depy|rce.ink",
                            rotate: "30",
                            zIndex: 10000,
                        });
                    }
                });

                mo.observe(container, {
                    attributes: true,
                    subtree: true,
                    childList: true
                });
            }
    }



    function addwm(){
    addWatermark({
        container: document.getElementById("watermark"),
        width: "220px",
        height: "160px",
        textAlign: "center",
        textBaseline: "middle",
        font: "16px Microsoft Yahei",
        fillStyle: "rgba(184, 184, 184, 0.3 )",
        content: "depy|rce.ink",
        rotate: "30",
        zIndex: 10000,
    });
}

addwm();
</script>

</body>
</html>